<div class="copyright">
<div class="snek"></div>
&#169; 2017 Chachar Catering s.r.o.<br />
<?php echo __('Tvorba www stránek ').$this->Html->link('Fastest.cz','http://www.fastest.cz/',array('title'=>__('Tvorba www stránek Ostrava')),null,false); ?>
</div>