<?php  
if ($system_id == 9)
echo '<div id="provoz_disable_online">Omlouváme se našim zákazníkům, od neděle 3.6.2018 je prodej v provozovně Litoměřice dočasně pozastaven z důvodu stěhování do nových prostor. Děkujeme za pochopení.</div>';
if (isset($provoz_disable_online)){
	echo '<div id="provoz_disable_online">'.$provoz_disable_online.'</div>';
}
?>