<?php //pr($setting);die(); ?>

<div class="none">
<?php if (!empty($setting['ga_superadmin'])){ ?>
<script type="text/javascript">
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '<?php echo $setting['ga_superadmin'] ?>', '<?php echo $setting['domena'] ?>');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>
<?php } ?>
</div>