<?php if (isset($compress_html)){ ?>
		<?php 
		
		if ($_SERVER['REMOTE_ADDR'] == '89.103.18.65a'  || stripos($_SERVER['HTTP_USER_AGENT'], 'Speed Insights') == true){?> 
		<?php
		/*		
		<style id="body_style_preloada">
			<?php /* ?>
			#layout_kosik_element{background:#00a651;}#page_preloader{position:fixed;top:0;left:0;z-index:100;width:100%;height:100%;display:block;background:#fff;}#page_preloader .panak{position:absolute;top:0;bottom:50px;left:0;right:0;width:543px;height:475px;background:transparent url('/css/chachar/panak_big.jpg') no-repeat center center;background-size:contain;z-index:10;margin:auto;}#page_preloader .progress{width:100%;background:#efefef;height:5px;position:absolute;top:0;left:0;z-index:10;}#page_preloader .progress .over{width:0%;background:#00a651;position:absolute;top:0;left:0;height:100%;animation:loadbar 5s infinite;-webkit-animation:loadbar 5s infinite;}@media (min-width: 300px) and (max-width: 600px){#page_preloader .progress{top:113px;}#page_preloader .panak{width:300px;height:262px;top:86px;}}
			</style>
			
			<script async src="<?php echo $jsUri;?> "></script>
			<?php /* ?>
			<script async src="<?php echo $jsUri;?> "></script>
		<?php */ ?>
		<?php } else { ?>
			
		<?php if (isset($isMobile)){?>
			<link rel="stylesheet" type="text/css" href="<?php echo $cssUriMobile;?>"  media="screen" />
			<script async src="<?php echo $jsUriMobile;?> "></script>
		<?php } else { ?>
			<link rel="stylesheet" type="text/css" href="<?php echo $cssUri;?>"  media="screen" />
			<script async src="<?php echo $jsUri;?> "></script>
		<?php } ?>
		<?php } ?>
	<?php } else { ?>
		<?php 
		if (isset($isMobile)){
			$debug_css['js'] = $debug_css['js_mobile'];
			$debug_css['css'] = $debug_css['css_mobile'];
			//pr($debug_css);die();
		}
		foreach($debug_css AS $key=>$path_list){
			if ($key == 'css'){
				foreach($path_list AS $path){
					echo "<link rel='stylesheet' href='".$path."' type='text/css' media='screen' />\n";
				}
			}
			if ($key == 'js'){
				foreach($path_list AS $path){
					echo "<script src='".$path."'></script>\n";
				}
			}
			//echo "<script src='/js/MooSwipe/MooSwipe.js'></script>\n";
		}
		
		?>
		
<?php } ?>
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
