<?php 
//pr($system_id); 
if (in_array($system_id,[10,13])){
?>
<div class="col-md-4 col-lg-3 col-sm-6 product_item">
	<div class="item  akce">
		<div class="flip-container h">
			<div class="flipper">
				<div class="front flip"></div>
				<div class="back flip">
					
					<?php echo $this->Html->link('',(($system_id == 13)?'/burgery/':'/pizza/'),['title'=>__d('shop','Pizza')]); ?>
					<div class="txt"></div>
				</div>
			</div>
		</div>
		
	</div>
</div> 
<?php } else { ?>
<div class="col-md-4 col-lg-3 col-sm-6 product_item">
	<div class="item  akce2">
		<div class="flip-container2 h">
			<div class="flipper2">
				<div class="front flip">
					<?php //pr($system_id); ?>
					<?php echo $this->Html->link('','/pizza/',['title'=>__d('shop','Pizza'),'class'=>'fullLink']); ?>
					<div class="txt"></div>
				
				</div>
				
			</div>
		</div>
		
	</div>
</div> 

<?php } ?>


<?php /**/ ?>