<div class="col-md-4 col-lg-3 col-sm-6 product_item">
	<div class="item">
	<?php $product_url = $i['url']; ?>
	<?php  
		/*
		if (in_array($i['group_id'],[2])){
			$spec_size = [
				'width'=>1000,
				'height'=>1000,
			];
		}
		if (in_array($i['group_id'],[4])){
			$spec_size2 = [
				'width'=>800,
				'height'=>800,
			];
			$spec_class = 'imageGroup10';
		}
		if (in_array($i['group_id'],[5,2])){
			$spec_size3 = [
				'width'=>800,
				'height'=>800,
			];
			$spec_class = 'stripsy';
		}
		if (in_array($i['group_id'],[3])){
			$spec_class = 'burger';
			$spec_size = [
				'width'=>500,
				'height'=>313,
			];
		}
		
		if (in_array($i['group_id'],[2])){
			$spec_class = 'stripsy';
		}
		//pr($i['shop_category_id']);
		if (in_array($i['group_id'],[2])){
			$spec_class = 'stripsy2';
		}
		if (in_array($i['group_id'],[5])){
			$spec_class = 'imageGroup11';
		}
		if (isset($i['spec_class'])){
			$spec_class = $i['spec_class'];
			
		}
		*/
		$spec_class = $i['el_class'];
		if ($spec_class == 'burger'){
			$spec_size = [
				'width'=>600,
				'height'=>300,
			];
		}
		if ($spec_class == 'stripsy'){
			$spec_size = [
				'width'=>1000,
				'height'=>1000,
			];
		}
		if ($spec_class == 'pizza'){
			$spec_size = [
				'width'=>500,
				'height'=>300,
			];
		}
	?>
	<?php /* ?>
	<div class="image image<?php echo $i['group_id'] ?> <?php echo (isset($spec_size3)?'spec_size3':'').' '.(isset($spec_size2)?'spec_size2':'').' '.(isset($spec_size)?'spec_size':'').' '.(($i['group_id'] == 1)?'pizza':'').(($_SERVER['REMOTE_ADDR'] == '89.103.18.65')?' new_item':' new_item').' '.(isset($spec_class)?$spec_class:'');?>">
	<?php */ ?>
	<div class="image <?php echo (($i['group_id'] == 1)?'pizza':'').' new_item'.' '.(isset($spec_class)?$spec_class:'');?>">
		<?php
		//pr($i);
		$img_set = array(
				'imgs'=>$i['images'],
				'first'=>true,
				//'link'=>$product_url,
				'class'=>'',
				'title'=>$i['name'],
				'width'=>(isset($spec_size)?$spec_size['width']:600),
				'height'=>(isset($spec_size)?$spec_size['height']:280),
				'path'=>'/uploaded/products/'
				
			
		);
		
		//pr($img_set);
		echo $this->Fastest->img($img_set);
		//echo $this->Html->image('http://placekitten.com/150/150', array('class'=>'pull-left img-responsive thumb margin10 img-thumbnail','alt'=>'')) 
		//echo $this->Html->image('http://placekitten.com/150/150', array('class'=>'pull-left img-responsive thumb margin10 img-thumbnail','alt'=>'')) 
		
		?>
		
	</div>
	<h2 class="title"><?php echo '<span class="seo_txt">'.__d('shop','Rozvoz ').'</span>'.$i['name']; ?></h2>
	<p class="description"><?php echo $i['desc']; ?></p>
	<div class="basket_add_el">
		<ul class="varianta_list_item">
			<li class="varianta_list_select clearfix  full"><span class="title large"><?php echo $i['link'] ?></span></li>
		</ul>
	</div>
	<?php echo $this->Html->link('',$i['url'],['title'=>$i['name'],'class'=>'link']); ?>
	</div>
</div>