<?php 
if (isset($menu_data['menu_items_list_name']) && count($menu_data['menu_items_list_name'])>1){ 
	
	echo '<div id="subcats_tmp" class="none"></div>';
	
	echo '<ul id="subcats" >';
		
		foreach($menu_data['menu_items_list_name'] AS $k=>$n){
			echo '<li id="select_cat'.$k.'" data-id="'.$k.'">'.$n.'</li>';
		}
		echo '<li class="only_mobile fotos">';
			echo '<div class="switch_fotos foto active"><span>&nbsp;</span>'.__('Zobrazit s fotografiemi').'</div>';
			echo '<div class="switch_fotos nofoto"><span>&nbsp;</span>'.__('Zobrazit bez fotografií').'</div>';
		echo '</li>';
	echo '</ul>';
}
?>
