@import url('https://fonts.googleapis.com/css?family=Catamaran:300,400,500&subset=latin-ext');
@import "global.less";
@import "flipper.less";  
@font-face {
    font-family: 'Glyphter';
    src: url('/css/fonts/glyphter/Glyphter.eot');
    src: url('/css/fonts/glyphter/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/glyphter/Glyphter.woff') format('woff'),
         url('/css/fonts/glyphter/Glyphter.ttf') format('truetype'),
         url('/css/fonts/glyphter/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'Glyphter';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-ok:before{content:'\0041';} 
.icon-excla:before{content:'\0042';}
.icon-arrow:before{content:'\0043';}

.pointerNone { pointer-events: none; }

/*
@font-face {
    font-family: 'catamaranblack';
    src: url('/css/fonts/catamaran/catamaran-black-webfont.woff2') format('woff2'),
         url('/css/fonts/catamaran/catamaran-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'catamaranbold';
    src: url('/css/fonts/catamaran/catamaran-bold-webfont.woff2') format('woff2'),
         url('/css/fonts/catamaran/catamaran-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'catamaranregular';
    src: url('/css/fonts/catamaran/catamaran-regular-webfont.woff2') format('woff2'),
         url('/css/fonts/catamaran/catamaran-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} 

@import url('https://fonts.googleapis.com/css?family=Catamaran:400,500,800,900&amp;subset=latin-ext');
*/
.h1,h1,h2 { 
	text-transform:uppercase;
}
.h1,h1 { 
	font-size:25px;
	font-weight:bold;
}
h2 {
	&.black {
		color:#000;
		font-weight:bold;
	}
	&.green {
		color:#00A651;
	}
	&.big {
		font-size:250%;
		font-weight:bold;
	}
}
.btn.btn-danger ,.btn.btn-warning{
	color:#fff;
}
.btn.btn-grey {
	color:#00A651;
	background:transparent;
	border:1px solid #ccc; 
}
body {
	background:#EEEEEE url('/css/chachar/bg.jpg');
	font-family: 'Catamaran', sans-serif;
	&.fixed {
		position:fixed;
	}
	
}
.container {
	width:100%;
	margin:0;  
	padding:0;
	.container_in {
		padding:0px 0 30px 0;
		&>.row {
			margin:0;
		}
	}
}
.form-group{
	&.form-inline{
		margin:0;
		label {
			width:25%;
		}
		input,textarea,select {
			width:75%;
		}
	}
}
.buttons {
	display:block;
	.clearfix(); 
	margin:10px 0 !important;
}

.chbut {
	color:#fff !important;
	background:#00A651;
	.radius(20px);
	padding:2px 16px;
	font-size:16px;
	text-decoration:none;
	
	&.big {
		
	}
	&.grey {
		background:transparent;
		text-decoration:underline;
		color:#ADADAD  !important;
		&:hover {
			color:#00A651 !important;
		}
	}
	&.margin-bottom {
		margin-bottom:5px;
	}
	&:hover {
		color:#efefef !important;
		text-decoration:none;
	}
}

#logo,.logo  {
	width:176px;
	height:82px;
	margin-left:0px;
	z-index:100;
	position:relative;
	&.chachar {
		background:transparent url('/css/logo/chachar.png') no-repeat center center;
		background-size:contain;
	}
	&.manik {
		background:transparent url('/css/logo/manik.png') no-repeat center center;
		background-size:contain;
	}
	&.ogar {
		background:transparent url('/css/logo/ogar.png') no-repeat center center;
		background-size:contain;
	}
	&.mechovacek{
		background:transparent url('/css/logo/mechovacek.png') no-repeat center center;
		background-size:contain;
	}
	&.pepik {
		background:transparent url('/css/logo/pepik.png') no-repeat center center;
		background-size:contain;
	}
	&.pepin {
		background:transparent url('/css/logo/pepin.png') no-repeat center center;
		background-size:contain;
	}
	&.petan {
		background:transparent url('/css/logo/petan.png') no-repeat center center;
		background-size:contain;
	}
	&.panar {
		background:transparent url('/css/logo/panar.png') no-repeat center center;
		background-size:contain;
	}
	&.partak {
		background:transparent url('/css/logo/partak.png') no-repeat center center;
		background-size:contain;
	}
	&.pizza {
		background:transparent url('/css/logo/pizza.png') no-repeat center center;
		background-size:contain;
	}
}
#navigation {
	height:90px;
	margin:0;
	background:#EEEEEE url('/css/chachar/bg.jpg');
	border:0;
	ul {
		margin-top:26px;
		text-align:center;
		float:none;
		position:relative;
		left:-100px;
		li {
			float:none;
			display:inline-block;
			a {
				padding:10px 9px;
				color:#000;
				border-right:1px solid #e0e0e0;
				.transition(0.2s);
				text-decoration:none;
				text-transform:uppercase;
				font-weight:800;
				
				
			}
			&:last-child {
				a {
					border-right:0;
				}
			}
		}
	}
	ul.nav {
		li {
			a {
				font-size:16px;
				&.active,&:hover {
					color:#14ad71;
					font-size:19px;
					.transition(0.2s);
				}
			}
		}
	}
}
#header {
	position:relative;
}

#contents {
	border:0px solid red;
	.content_section {
		border:1px solid red;
	}
	
}

.inner {
	width:1100px;
	position:relative;
	margin:auto;
	padding:25px 0;
	&.right {
		margin:0;
		float:right;
		ul {
			text-align:right !important;
			margin-right:5px !important;
		}
	}
}
#login_element {
	position:absolute;
	top:-20px;
	right:10px;
	.row {
		margin:0;
		padding:0;
	}
	.login_close {
		width:65px;
		height:65px;
		border:0px solid red;
		position:absolute;
		top:30px;
		right:30px;
		cursor:pointer;
		z-index: 1000;
		background:transparent url('/css/chachar/b_close.svg') no-repeat center center;
		&:hover {
			background:transparent url('/css/chachar/b_close_hover.svg') no-repeat center center;
	
		}
	}
	.logged_data {
		margin-top:30px;
		white-space:nowrap;
		width:180px;
		a {
			font-weight:bold;
		}
		.kredit_info {
			font-weight:bold;
		}
		.avatar {
			float:right;
			margin-top:-5px;
			
		}
	}
	.login_sipka {  
		height:43px;
		background:transparent url('/css/chachar/login_sipka.png') no-repeat left center;
		color:#ed1c24;
		font-size:15px;
		font-weight:bold;
		display:block;
		padding:25px 0 0 65px;
	}
	.btn-primary { 
		background:#ed1c24; 
		color:#fff;
		border:1px solid #ed1c24;
		margin:10px 0 0 150px;
		.radius(40px);
		font-weight:bold;
		
		&:hover {
			background:#00A651;
			border-color:#00A651;
		} 
		
	
	}
	.forgot_password {
		margin:5px 0;
		display:block;
	}
	.form-signin-heading {
		font-size:27px;
		margin:15px 0;
		display:block;
		text-align:center;  
	}
	#login_over {
		z-index:2000;
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:rgba(0,0,0,0.7);
	}
	#show_login_el {
		position:fixed;
		top:99px;
		left:0;
		&.load {
			left:-10000px;
			.login_roh {
				display:none;
			}
		}
		z-index:2100;
		width:100%;
		background:#fff;
		/*.box-shadow(#ccc 0px -1px 5px);*/
		.col {
			margin-bottom:2px;
		}
		
		
		
		.login_roh {
			width:31px;
			height:34px;
			background:transparent url('/css/chachar/login_roh.png') no-repeat left center;
			border:0px solid red;
			position:fixed;
			top:74px;
			right:46px;
		}
		.btn {
			margin:0;
			padding:0;
			height:50px;
			line-height:50px; 
		}
	}
	#mobile_login {
		display:none;
	}
	#login_line {
		padding:5px;
		padding-right:0;
		border:0px solid #ccc;
		
		.show_login {
		}
	}
	#logged_menu {
		text-align:center;
		div.kredit_info {
			color:#00A651;
			font-size:20px;
			margin-bottom:10px;
		}
		ul {
			margin:0;
			padding:0;
			background:transparent;
			li {
				text-align:center;
				border:0;
				padding:3px 0; 
				.btn {
					padding:0 10px;
					&.no-bg {
						background:transparent;
						border-color:#ccc;
						color:#666 !important;
						&:hover {
							color:#00A651 !important;
						}
					}
				}
			}
		}
	}
	
	.avatar {
		width:50px;
		height:50px; 
		border:0px solid #ccc;
		display:inline-block;
		position:relative;
		cursor:pointer;
		&.avatar1 {
			background:transparent url('/css/chachar/avatar/avatar1.png') no-repeat center center;
			background-size:contain;
		}
		&.avatar2 {
			background:transparent url('/css/chachar/avatar/avatar2.png') no-repeat center center;
			background-size:contain;
		}
		&.avatar3 {
			background:transparent url('/css/chachar/avatar/avatar3.png') no-repeat center center;
			background-size:contain;
		}
		&.avatar4 {
			background:transparent url('/css/chachar/avatar/avatar4.png') no-repeat center center;
			background-size:contain;
		}
		&.avatar5 {
			background:transparent url('/css/chachar/avatar/avatar5.png') no-repeat center center;
			background-size:contain;
		}
		&.avatar6 {
			background:transparent url('/css/chachar/avatar/avatar6.png') no-repeat center center;
			background-size:contain;
		}
		&.avatar7 {
			background:transparent url('/css/chachar/avatar/avatar7.png') no-repeat center center;
			background-size:contain;
		}
		&.avatar8 {
			background:transparent url('/css/chachar/avatar/avatar8.png') no-repeat center center;
			background-size:contain;
		}
		&.avatar9 {
			background:transparent url('/css/chachar/avatar/avatar9.png') no-repeat center center;
			background-size:contain;
		}
	} 
}
#footer {
	position:relative;
	padding-top:0;
}

.copyright {
	position:relative;
	bottom:0;
	right:0;
	color:#666;
	margin-top:30px;
	text-align:right;
	font-size:11px;
	a {
		font-size:11px;
		color:#666 !important;
		font-weight:bold;
	}
	.snek {
		position:absolute;
		left:-5.5%;
		top:-19px;
		width:37px;
		height:60px;
		background:transparent url('/css/layout/snek.png') no-repeat center center;
	}
}

#address_list {
	margin:5px 0;
	padding:0 1%;
		
	li {
		margin:0;
		padding:0 5px;
		list-style-type:none;
		border-bottom:1px solid #ccc;
		line-height:45px;
		&.select_address {
			cursor:pointer;
			div {
				pointer-events:none;
			}
		}
		.delete_address {
			padding:1px 5px;
			pointer-events: auto;
		}
		div.col {
			padding:4px 0;
		}
		&.active {
			background:#efefef;
			color:#000;
		}
		&:hover {
			background:#efefef;
			color:#000;
		}
		.btn {
			margin:5px 3px 0;
		}
	}
}

#admin_products {
	#table_header {
		padding:5px;
		font-weight:bold;
	}
	
	.col {
		display:inline-block;
		&.col2 {
			width:50px;
		}
		&.col3 {
			width:250px;
		}
	}
	.checkbox {
		margin-top:0;
	}
	.product {
		border-bottom:1px solid #ccc;
		position:relative;
		.delete {
			position:absolute;
			top:0;
			left:0;
		}
		.headline {
			
			cursor:pointer;
			padding:5px;
			div {
				pointer-events:none;
			}
		}
		&.even {
			background:#efefef;
		}
		div.data {
			background:#bad9f2;
			min-height:80px;
			padding:5px;
			&.preloader {
				background:#bad9f2 url('/css/validation/preloader_load.gif') no-repeat center center;
			
			}
		}
		table {
			width:100%;
			tr {
				th,td {
					font-weight:normal;
					border-bottom:1px solid #558ab2;
					padding:2px;
				}
				
			}
		}
		label {
			display:inline-block;
			width:60px;
			vertical-align:top;
		}
		select.text,textarea.text,input.text {
			border:1px solid #ccc;
			.radius(3px);
			padding:2px;
			&.long {
				width:250px;
			}
			&.small {
				width:60px;
			}
		}
		.img {
			width:50px;
			height:25px;
		}
		div.buttons {
			text-align:center;
		}
		ul.attributes_list {
			padding:0;
			li {
				list-style-type:none;
				width:33%;
				overflow:hidden;
				display:inline-block;
				
				div.checkbox {
					margin:0;
					label {
						font-size:11px;
						white-space:nowrap;
					}
				}
			}
		}
		span.data_label {
			position:relative;
					&:before {
						position:absolute;
						top:-33px;
						left:0;
						padding:3px;
						white-space:nowrap;
						background:#efefef;
						border:1px solid #ccc;
						.radius(3px);
						content:attr(data-label);
					}
				
			
		}
		
	}
	
}

	#admin_menu_items {
		width:80%;
		li {
			list-style-type:none;
			line-height:30px;
			border-bottom:1px solid #ccc;
			input,select {
				height:25px;
				border:1px solid #ccc;
				margin-right:2px;
				
			}
			&:hover {
				background:#efefef;
			}
			div.text,div.number,div.select {
				margin-top:2px;
				display:inline-block; 
			}
			.fa-arrows-v {
				width:20px;
				height:20px;
				display:inline-block;
				cursor:n-resize;
			}
			
			span.data_label { 
				position:relative;
						&:before {
							position:absolute;
							top:-45px;
							left:0;
							padding:3px;
							white-space:nowrap;
							background:#efefef;
							border:1px solid #ccc;
							.radius(3px);
							content:attr(data-label);
						}
					
				
			}
		}
	}
	
	

.only_mobile {  
	display:none !important; 
}

.txt_page {
	padding:0;
}
#white_page {
	background:#fff;
	padding:15px;
	margin-top:34px;
	
	.box-shadow(#ccc 0px -1px 5px);
	.h1 {
		text-align:center;
		color:#00a651;
		
		
	}
	h2 {
		text-align:center;
	 
	}
}

.reg_field {
	&.size {
		width:100%;
		max-width:410px;
		max-height:auto;
		margin:auto;
		.transition(1s);
		.opacity(100);
		&.hide_opacity {
			.transition(1s);
			max-height:0px;
			.opacity(0);
			
			overflow:hidden;
		}
	}
	.desc {
		text-align:center;
		font-weight:bold;
	}
	.desc2 {
		text-align:center;
	}
	.line {
		border-bottom:1px solid #ccc;
		width:90%;
		margin:5px auto;
		
	}
}
#reg_progress {
	position:absolute;
	top:33px;
	left:0;
	border:0px solid red; 
	height:5px;
	width:100%;
	#bar {
		background:#00A651;
		height:100%; 
		width:20%;
	}
}

.field_button {
	.prev_field {
		float:left;
		margin-left:15px;
	}
	
	.next_field,.SaveForm {
		float:right;
		margin-right:15px;
		 
	}
	&.center {
		text-align:center;
		.next_field {
			float:none;
			margin:0;
			
		}
	}
}

#avatar_list {
	.avatar {
		width:100px;
		height:100px; 
		border:0px solid #ccc;
		display:inline-block;
		position:relative;
		cursor:pointer;
		&.avatar1 {
			background:transparent url('/css/chachar/avatar/avatar1.png') no-repeat center center;
			background-size:contain;
		}
		&.avatar2 {
			background:transparent url('/css/chachar/avatar/avatar2.png') no-repeat center center;
			background-size:contain;
		}
		&.avatar3 {
			background:transparent url('/css/chachar/avatar/avatar3.png') no-repeat center center;
			background-size:contain;
		}
		&.avatar4 {
			background:transparent url('/css/chachar/avatar/avatar4.png') no-repeat center center;
			background-size:contain;
		}
		&.avatar5 {
			background:transparent url('/css/chachar/avatar/avatar5.png') no-repeat center center;
			background-size:contain;
		}
		&.avatar6 {
			background:transparent url('/css/chachar/avatar/avatar6.png') no-repeat center center;
			background-size:contain;
		}
		&.avatar7 {
			background:transparent url('/css/chachar/avatar/avatar7.png') no-repeat center center;
			background-size:contain;
		}
		&.avatar8 {
			background:transparent url('/css/chachar/avatar/avatar8.png') no-repeat center center;
			background-size:contain;
		}
		&.avatar9 {
			background:transparent url('/css/chachar/avatar/avatar9.png') no-repeat center center;
			background-size:contain;
		}
		.avatar_select {
			background:#00A651;
			width:30px;
			height:30px;
			.radius(15px);
			position:absolute;
			bottom:0;
			right:0;
			text-align:center;
			display:none;
			&:before {
				font-size:20px;
				line-height:30px;
				text-align:center;
				color:#fff;
			}
		}
		
		&:hover,&.active {
			.avatar_select {
				display:block;
			}
		}
	}
}

div.input {
	position:relative;
}
.placeholder_show {
	border:0px solid red;
	
	&::before {
		background:#fff;
		color:#666;
		border:1px solid #ccc;
		padding:0 3px;
		.radius(3px);
		content: attr(data-title);
		position:absolute;
		white-space:nowrap;
		top:-13px;
		left:10px;
	}
}
#h2_provoz_name {
	color:#000;
	font-size:15px;
	text-align:center;
	margin:4px;
	line-height:20px;
	strong {
		white-space:nowrap;
		cursor:pointer;
		color:#00A651;
		text-decoration:underline;
	}
}
#provoz_select_list {
	background:#fff;
	padding:10px 0;
	margin-top:-12px;
	.col-xs-6 {
		&.odd {
			border-right:2px solid #efefef;
		}
		padding-left:5px;
		padding-right:5px;
	}
}

#provoz_side{
	&.mechovacek {
	
		#provoz_select_list {
			.odd {
				width:100% !important;
			}
		}
	}
}
.pac-icon-marker {
	display:none;
}


#provoz_list_info_search2 {
	position:relative;
	margin-top:11px;
	#adr_preloader {
		top:0px !important;
		bottom:0 !important;
		margin:auto;
	}
	.inline {
		display:inline-block;
		vertical-align:top;
	}
	.tel_title,.tel_title {
		display:block;
		
			
	}
	.tel_desc {
		display:block;
		margin-top:5px;
	}
	.tel_title {
		font-size:18px;
		margin-top:0px;
		font-weight:bold;
		line-height:16px;
	}
	.tel_title2 {
		margin-top:5px;
		font-size:11px;
		font-weight:normal;
		line-height:13px;
	}
	.ico {
			width:46px;
			height:54px;
			display:inline-block;
			background:transparent url('/css/chachar/provoz_ico.png') no-repeat center top -1px;
			position:relative;
			top:  0px;
			background-size:126% auto;
	}
	.desc {
		width:calc(100% -46px);
	}
	#ShowProvozBtn {
		top:auto;
	}
	
	@media (min-width : 600px) and (max-width : 1000px) {
	
	.tel_title {
		font-size:14px;
	}	
	}
	
	@media (min-width : 800px) and (max-width : 1600px) {
		.ico {
			width:25px;
			height:30px;
		}
		.desc {
			width:calc(100% -25px);
		}
		.tel_title {
			font-size:16px;
			
		}
	}

}

#provoz_list_info_search {
		position:relative;
		margin-top:11px;
		.inline {
			display:inline-block;
		}
		.tel {
			position:relative;
			width:100%;
			margin-top:5px;
		}
		.ico {
			width:46px;
			height:54px;
			display:inline-block;
			background:transparent url('/css/chachar/provoz_ico.png') no-repeat center top -1px;
			position:relative;
			top: -30px; /*0px;*/
			background-size:126% auto;
		}
		.tel_title {
			display:inline-block;
			font-size:20px;
			line-height:18px;
			margin-bottom: 30px !important;
			width:calc(100% -56px);
			.tel_title2 {
				font-size:12px;
				display:block;
			}
		}
		
		@media (min-width : 600px) and (max-width : 1600px) {
			.tel_title {
				font-size:15px;
			}
			.tel_title .tel_title2 {
				font-size:11px;
			}
			.ico { 
				top:-40px;
			}
		}
		
		#search-address-tel {
			position: relative;
			top: -32px;
		}
		
		.tel_desc {
			display:inline-block;
			/*width:calc(100% -46px);*/
			width:100%;
		}
		span {
			display:inline-block;
			vertical-align:bottom;
			font-weight:bold;
		}
		.input.text {
			display:block;
			width:100%;
			.form-control {
				height:30px;
				padding:2px;
				font-size:12px;
				line-height:30px;
				font-weight:normal;
			}
		}
}
.address_clear {
	position:absolute;
	top:-30px;
	right:2px;
	z-index:10;
	background:#F1F1F1;
	cursor:pointer;
	height:71%;
	width:15px;
	text-align:center;
	&:before {
		top:21%;
		position:relative;
		font-size:15px;
	}
}
#oteviraci_doba {
	background:#00a651;
	color:#fff;
	margin:auto;
	text-decoration:none;
	padding:5px 10px;
	.radius(5px);
}
.text_center {
	text-align:center;
}
#sidemenu {
	margin-top:15px;
	padding-left:15px;
}
#oteviraci_doba_win {
	z-index:2000;
	position:fixed;
	.over {
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:rgba(0,0,0,0.5);
		z-index:100;
		
	}
	.content {
		z-index:1000;
		position:fixed;
		top:5px;
		left:0;
		right:0;
		margin:auto;
		width:1000px;
		background:#fff;
		min-height:50px;
		padding:10px 50px 0px 10px;
	}
	div#close_doba {
		cursor:pointer;
		background:transparent url('/css/chachar/b_close.svg') no-repeat center center;
		width:50px;		
		height:50px;
		position:absolute;
		top:4px;
		right:5px;
	}
	.row {
		&:hover {
			background:#efefef;
		}
	}
	.col {
		padding:3px;
	}
	.week_day {
		padding:2px;
		border:0px solid #ccc;
		margin:2px;
		border-width:0 1px 1px 0;
		display:inline-block;
		&:hover {
			background:#00a651;
			color:#fff;
		}
	}
}
#provoz_list {
	margin-top:20px;
	&.new {
		margin-top:0;
	}
	#sidemenu {
		padding:0;
		margin:0;
		list-style-type:none;
				
			li {
				line-height:26px;
				padding:0;
				a {
					color:#000;
				}
			}
	}
	.sep {
		height:10px;
		border:0px solid red;
		clear:both;
		width:100%;
	}
	.provoz_name {
		font-size:24px;
		font-weight:bold;
		margin-bottom:10px;
		display:block;
		text-align:center;
		color:#00A651;
	}
	.name {
		background:#fff;
		white-space:nowrap;
		font-weight:bold;
		padding:3px;
		margin-bottom:1px;
		/*display:inline-block;*/
		display:block;
		border-bottom:1px solid #efefef;
		cursor:pointer;
		.transition(0.2s);
		&:hover,&.active {
			background:#00A651;
			color:#fff;
		}
	}
	#provoz_list_info {
		position:relative;
		height:450px;
		&.new {
			height:auto;
			min-height:50px;
			.provoz_info {
				position:relative;
			}
		}
		
	}
	.hide_fade{
		display:none;
	}
	
	.provoz_info {
		width:100%;
		position:absolute;
		left:0;
		top:0;
		margin-top:10px;
		padding:40px 0 10px;
		background:transparent url('/css/chachar/provoz_line.png') no-repeat right top;
		
		.ico {
			clear:left;
			margin-right:5px;
			width:73px;
			height:73px;
			border:0px solid red;
			float:left;
			background:transparent url('/css/chachar/provoz_ico.png') no-repeat center top -5px;
			&.open {
				background-position:center bottom -16px;
			}
		}
		.more_date {
			margin-left:63px;
		}
		.tel_desc {
			font-weight:bold;
			span.tel {
				display:block;
				color:#00A651;
				font-size:28px;
				line-height:30px;
				a {
					font-size:30px;
					line-height:30px;
					color:#00A651;
					text-decoration:none;
				}
			}
			.open_more_date {
				display:block;
			}
		}
		strong {
			display:block;
			clear:both;
			margin-top:15px;
			
			
		}
		p.lokalita {
			width:90%;
			font-weight:bold;
			color:#00A651;
		}
	}
}

#provoz_error {
	position:absolute;
	top:55px;
	left:0;
	right:0;
	z-index:100;
	margin:auto;
	width:220px;
	height:50px;
	background:#00A651;
	text-align:center;
	color:#fff;
	padding:5px;
	.box-shadow(#ccc 5px 5px 5px);
	.radius(5px);
	strong {
		display:block;
	}
}

div.input.number {
	position:relative;
	display:inline-block;
	&:before,&:after {
		position:absolute;
		right:4px;
		width:15px;
		height:13px;
		background:#F3F3F3;
		text-align:center;
		font-family: 'awesome';
		line-height:12px;
		color:#000;
		pointer-events:none;
	}
	&:after {
		top:5px;
		border-bottom:1px solid #efefef;
		content:'\f106';
	}
	&:before {
		bottom:9px;
		content:'\f107';
	}
}

#page404 {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	line-height:100%;
	text-align:center;
	z-index:1000;
	background:#EEEEEE url('/css/chachar/bg.jpg');
	#logo_adopt { 
		left:10px;
		top:0px;
		position:relative;
	}
	.txt {
		margin:auto;
		padding:0 5px;
		top:15%;
		position:relative; 
		
	}
	.ico {
		width:281px;
		height:202px;
		background:transparent url('/css/chachar/404.png');
		margin:auto;
	}
	.title {
		margin-bottom:15px;
	}
	.title2 {
		font-size:38px;
		line-height:40px;
		font-weight:bold;
		color:#e20c18;
		margin:15px 0;
	}
	.title3 {
		font-size:20px;
		color:#000;
		margin-bottom:10px;
		line-height:22px;
	}
}

.seo_txt {
	position:fixed;
	top:-1000px;
	left:-1000px;
}

address {
	label {
		display:inline-block;
		width:100px;
	}
}

#vtip_list_over {
	text-align:center;
	margin-top:20%;
	#next_vtip {
		margin-top:10px;
	}
}
#vtip_list {
	position:relative;
	display:block;
	margin:auto;
	width:80%;
	min-height:100px;
	.vtip {
		position:absolute;
		left:0;
		right:0;
		text-align:center;
		margin:auto;
		font-weight:bold;
		background:transparent url('/css/chachar/vtip.png') no-repeat left top;
		min-height:60px;
		display:inline-block;
		padding:40px 0 0 0px;
		font-size:14px;
	}
}

.txt_item {
	background:#fff;
	height:250px;
	overflow:hidden;
	margin-bottom:10px; 
	padding:10px;
	.transition(0.5s);
	&.banner {
		background:#009C40 url('/css/chachar/program/banner.png') no-repeat center center;
		background-size:contain;
	}
	.ico {
		width:90px;
		height:90px;
		margin:5px auto;
		&.ico1 {
			background:transparent url('/css/chachar/icons/ico_predmet-cinnosti.svg') no-repeat center center;	
		}
		&.ico2 {
			background:transparent url('/css/chachar/icons/ico_oteviraci-doba.svg') no-repeat center center;	
		}
		&.ico3 {
			background:transparent url('/css/chachar/icons/ico_platebni-podminky.svg') no-repeat center center;	
		}
		&.ico4 {
			background:transparent url('/css/chachar/icons/ico_produkty.svg') no-repeat center center;	
		}
		&.ico5 {
			background:transparent url('/css/chachar/icons/ico_akce.svg') no-repeat center center;	
		}
		&.ico6 {
			background:transparent url('/css/chachar/icons/ico_doruceni-objednavek.svg') no-repeat center center;	
		}
		&.ico7 {
			background:transparent url('/css/chachar/icons/ico_reklamace.svg') no-repeat center center;	
		}
		&.ico8 {
			background:transparent url('/css/chachar/icons/ico_ochrana-osobnich-udaju.svg') no-repeat center center;	
		}
		&.ico9 {
			background:transparent url('/css/chachar/icons/ico_odstoupeni-od-smlouvy.svg') no-repeat center center;	
		}
		&.ico10 {
			background:transparent url('/css/chachar/icons/ico-ochranna-znamka.svg') no-repeat center center;	
		}
	}
	.icoProgram {
		width:90px;
		height:90px;
		margin:5px auto;
		background-size:contain !important;
		&.ico1 {
			background:transparent url('/css/chachar/program/ico_coje.png') no-repeat center center;	
		}
		&.ico2 {
			background:transparent url('/css/chachar/program/ico_kolik.png') no-repeat center center;	
		}
		&.ico3 {
			background:transparent url('/css/chachar/program/ico_zaplatit.png') no-repeat center center;	
		}
		&.ico4 {
			background:transparent url('/css/chachar/program/ico_platnost.png') no-repeat center center;	
		}
		&.ico5 {
			background:transparent url('/css/chachar/program/ico_kredit.png') no-repeat center center;	
		}
		&.ico6 {
			background:transparent url('/css/chachar/program/ico_hrajeme.png') no-repeat center center;	
		}
	}
	h2 {
		font-size:15px;
		text-align:center;
	}
	&.open {
		.transition(0.5s);
		height:auto;
		.box-shadow(#ccc 0 0 8px);
	}
	div.close_txt {
		cursor:pointer;
		background:transparent url('/css/chachar/b_close.svg') no-repeat center center;
		width:50px;		
		height:50px;
		position:absolute;
		top:4px;
		right:25px;
	}
	p.over {
		overflow:hidden;
		height:63px;
		position:relative;
		span.more {
			background:#fff;
			position:absolute;
			top:40px;
			right:0;
			span {
				color:#000;
				text-decoration:underline;
				cursor:pointer;
			}
		}
	}
}
@keyframes loadbar {

		  0% {
			width: 0%;
		  }

		  100% {
			width: 100%;
		  }
		}
@-webkit-keyframes loadbar {

		  0% {
			width: 0%;
		  }

		  100% {
			width: 100%;
		  }

		}
#page_preloader {
	position:fixed;
	top:0;
	left:0;
	z-index:100000;
	width:100%;
	height:100%;
	display:block;
	
	.side {
		background:#fff;
		width:50%;
		height:100%;
		position:absolute;
			
		&.left {
			top:0;
			left:0;
		}
		&.right {
			top:0;
			right:0;
		}
	}
	
	.panak {
		position:absolute;
		top:0;
		bottom:50px;
		left:0;
		right:0;
		width:300px;
		height:262px;
		background:transparent url('/css/chachar/panak.jpg') no-repeat center center;
		z-index:10;
		margin:auto;
		
	}
	.progress {
		width:100%;
		background:#efefef;
		height:5px;
		position:absolute;
		top:0;
		left:0;
		z-index:10;
		.over {
			width:0%;
			background:#00A651;
			position:absolute;
			top:0;
			left:0;
			height:100%;
			animation:loadbar 5s infinite;
			-webkit-animation:loadbar 5s infinite;
		}
				
		
	}
	
	&:not(.load) {
		.side {
			width:0%;
			.transition(0.5s);
		}
		.panak {
			.transition(0.2s);
		 	.opacity(0);
		}
		.progress {
			.transition(0.2s);
		 	.opacity(0);
			
		}
	}
}
.table_provoz {
	width:100%;
	tr {
		td,th {
			padding:3px;
		}
	}
}


.tips {
	position:fixed;
	top:20%;
	left:20%;
	z-index:100;
	background:#ccc;
	color:#000;
	vertical-align:top;
	padding:3px;
	font-size:11px;
	.radius(5px);
	.bull {
		width:30px;
		
		pointer-events:none;
		height:40px;
		background:transparent url('/css/chachar/ico_zarovka1.svg') no-repeat center top;
		border:0px solid red;
		float:left;
		margin-right:5px;
		.transition(0.1s);
		&.active {
			.transition(0.1s);
			background:transparent url('/css/chachar/ico_zarovka2.svg') no-repeat center top;
			
		}
		&.move {
			margin-top:2px;
			.transition(0.5s);
		}
	}
	p,strong {
		pointer-events:none;
	}
	.tria {
		
		pointer-events:none;
		position:absolute;
		bottom:-10px;
		left:0;
		right:0;
		margin:auto;
		width: 0;
		height: 0;
		line-height: 0;
		border-style: solid;
		border-width: 15px 10px 0 10px;
		border-color: #ccc transparent transparent;
		
	}
	&.velka {
		.tria {
			
			border-style: solid;
			border-width: 0 10px 15px 10px;
			border-color: transparent transparent #ccc ;
			bottom:auto;
			top:-13px;
			left:5px;
			right:auto;
			
		}
	}
	&#tip_filtr,&#tip_basket {
		.tria {
			width: 0;
			height: 0;
			border-style: solid; 
			border-width: 15px 15px 15px 0;
			border-color: transparent #ccc transparent;
			bottom:auto;
			bottom:-13px;
			right:0px;
			left:auto;
			
		}
	}
}

#map_header {
	height:50px;
	width:100%;
	background:#efefef;
	padding:10px;
	#rozvozce_list {
		margin:0;
		padding:0;
		float:right;  
		width:90%;
		li {
			font-size:12px;
			span.time {
				font-size:11px;
			}
			margin:2px;
			display:inline-block;
			list-style-type:none;
			padding:5px;
			border:1px solid #ccc;
			background:#fff;
			.radius(5px);
			
			span.count_orders {
				display:block;
				font-size:11px;
			}
		}
	}
	h2#map_preloader {
		display:inline-block;
		line-height:30px;
		font-size:15px;
		margin:5px 0 0 0;
		&.preloader {
			background:transparent url('/css/validation/preloader_rozvoz_map.gif') no-repeat center right;
			padding-right:40px;
		}
	}
}

#rozcestnik_link {
	position:absolute;
	top:44px;
	left:218px;
	background:#00A651;
	color:#fff;
	font-weight:normal;
	font-size:21px;
	text-decoration:none;
	padding:4px 5px;
	.radius(100%);
	
}

@media (min-width : 300px) and (max-width : 600px) {
	#map_header {
		height:auto;
		padding:10px 0 0 0;
		h2 {
			float:left;
		}
		#rozvozce_list {
			width:100%;
			float:none;
			li {
				span.count_orders,span.time {
					font-size:9px;
				}
				padding:2px;
				margin:1px;
				font-size:10px;
			}
		}
	}
	
	#rozcestnik_link {
		position: fixed !important;
		.radius(0) !important;
	}
}

#rozcestnik {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	min-height:100%;
	z-index:10000;

	background:#EEEEEE url('/css/chachar/bg.jpg');	
	.logo {
		margin:auto; 
	} 
	.roz_desc {
		font-size:50px;
		text-align:center;
		font-weight:bold;
		margin-top:50px;
	}
	#roz_list {
		margin-top:30px;
		position:relative;
		text-align:center;
		.roz_item {
			display:inline-block;
			width:310px;
			margin:3px;
			text-decoration:none;
			height:340px;
			vertical-align:top;
			&.partak_litomerice {
				background:transparent url('/css/rozcestnik/partak_litomerice.png') no-repeat left bottom;	
			}
			&.partak_liberec {
				background:transparent url('/css/rozcestnik/partak_liberec.png') no-repeat right bottom;	
			}
			&.partak_mb {
				background:transparent url('/css/rozcestnik/partak_mb.png') no-repeat center bottom;	
			}
			h2 {
				margin-top:48px; 
				pointer-events:none;
				margin-left:32px; 
				color:#fff;
				font-weight:bold;
				font-size:45px;
				text-align:left;
				 -ms-transform: rotate(12deg); /* IE 9 */
				-webkit-transform: rotate(12deg); /* Chrome, Safari, Opera */
				transform: rotate(12deg);
				font-weight:bold;
			}
			&.roz1 {
				background-color:#009C40;
			}
			&.roz2 {
				background-color:#FFB400;
			}
			&.roz3 {
				background-color:#EE1C24;
			}
		}
	}
}

.search_address_tip {
	color:#fff;
	position:absolute; 
	top:-30px;
	left:20px;
	background:#000;  
	padding:5px 10px;
	z-index:20;
	&:after {
		position:absolute;
		bottom:-10px;
		z-index:-1;
		left:0;
		content:'';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0px 0 20px 30px;
		border-color: transparent transparent transparent #000;
	}
	&#search_address_tip2 {
		left:0;
		top:-62px;
		font-size:10px;
		white-space:nowrap;
		display:none;
	}
	
}
#search_address_noresult {
	color:#fff;
	position:absolute;
	top:-60px;
	left:20px;
	background:#ED1C24;
	z-index:10;
	padding:5px 10px;
	z-index:100;
	&:after {
		position:absolute;
		bottom:-10px;
		z-index:-1;
		left:0;
		content:'';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0px 0 20px 30px;
		border-color: transparent transparent transparent #ED1C24;
	}
	
}
#intro_akce {
	width:100%;
	position:relative;
	.akce_switch_over {
		width:850px;
		height:685px;
		margin:auto;
	
	}

	.akce_switch {
		position:absolute;
	}
	.akce_txt {
		bottom:35px;
		left:0;
		right:0;
		margin:auto;
		position:absolute;
		color:#9B9B9B;
		text-align:center;
		font-size:11px;
		
		em {
			color:#ff0000;
			font-style:normal;
		}
	}
	#akce1 {
		width:850px;
		height:685px;
		margin:auto;
		&.manik,&.all {
			background:transparent url('/css/chachar/rozcestnik/manik_akce1.png') no-repeat center top;
			@media (min-width : 300px) and (max-width : 600px) {
				background:transparent url('/css/chachar/rozcestnik/manik_akce1_mobile.png') no-repeat center top;
				width:100%;
				
			}
			
		}
	}
	#akce2 {
		width:850px;
		height:685px;
		margin:auto;
		&.manik,&.all {
			background:transparent url('/css/chachar/rozcestnik/manik_akce2.png') no-repeat center top;
			@media (min-width : 300px) and (max-width : 600px) {
				background:transparent url('/css/chachar/rozcestnik/manik_akce2_mobile.png') no-repeat center top 30px;
				width:100%;
		
			}
			
		}
	}
}
#intro_adresa {
	position:fixed;
	top:0px;
	left:0;
	width:100%;
	z-index:2000;
	overflow-y:auto;
	background:#EEEEEE url('/css/chachar/bg.jpg');	
	
	#intro_logo {
		position:absolute;
		top:0;
		left:0;
		right:0;
		margin:auto; 
	}
	
	&.records {
		.logo {
			display:none;
		}
		.adresa_footer {
			height:428px;
			background:#EEEEEE url('/css/chachar/rozcestnik_records/records_footer.jpg') no-repeat center center;	
	
		}
		#akce1 {
			width:100%;
			height:656px;
			background:transparent url('/css/chachar/rozcestnik_records/records_header.png') no-repeat center top;	
			@media (min-width : 300px) and (max-width : 600px) {
				background:transparent url('/css/chachar/rozcestnik_records/records_header_mobile.png') no-repeat center top 17px;
				width:100%;
				
			}
		}
		#akce2 {
			width:100%;
			height:656px;
			background:transparent url('/css/chachar/rozcestnik_records/records_header.png') no-repeat center top;	
			
		}
		
	}
	&.cina {
		.logo {
			display:none;
		}
		.adresa_footer {
			height:428px;
			background:#EEEEEE url('/css/chachar/rozcestnik_cina/cina_footer.jpg') no-repeat center center;	
	
		}
		#akce1 {
			width:100%;
			height:656px;
			background:transparent url('/css/chachar/rozcestnik_cina/cina_header.png') no-repeat center top;	
			@media (min-width : 300px) and (max-width : 600px) {
				background:transparent url('/css/chachar/rozcestnik_cina/cina_header_mobile.png') no-repeat center top 17px;
				width:100%;
				
			}
		}
		#search_address {
			bottom:44px !important;
		}
		
	}
	
	#search_address {
		width:80%;
		margin:20px auto;
		position:absolute;
		bottom:82px;
		left:0;
		right:0;
		margin:auto;
		
		.address_input {
			width:100%;
			max-width:1000px;
			margin:auto;
			position:relative;
			padding-left:20px;
		}
		#address_clear {
			position:absolute;
			top:10px;
			right:5px;
			display:none;
			padding:5px;
			background:#fff;
			&:before {
				font-size:20px;
			}
		}
		.input.text {
			display:inline-block;
			width:calc(100% -285px);
			margin-left:0px;
			
		}
		
		
		#address-value {
			background:#fff url('/css/chachar/address_point.png') no-repeat left 5px center;
			padding-left:30px;
			width:100%;
			display:inline-block;
			font-size:12px;
			font-weight:normal;
		}
		#SearchAdresa {
			width:280px;
			left:-25px;
			top:-1px;
			height:49px;
			background:#28903B;
			border-color:#28903B;
			position:relative;
			display:inline-block;
		} 
		
		
		
	}
} 


@media (min-width : 300px) and (max-width : 600px) {
	
	#intro_adresa {
		#search_address {
			bottom:auto;
			top:283px;
			.address_input {
				padding-left:0;
			}
			.input.text {
				width:100%;
				
			}
			#SearchAdresa {
				left:auto;
				top:5px;
				width:100%;
				font-size:13px;
			}
			#search_address_noresult {
				top:-100px;
			}
			#address_clear {
				display:block;
			}
			
			#search_address_tip,#search_address_noresult {
				font-size:10px;
			}
		}
		.akce_switch_over {
			width:100%;
		}
		
	}
	#intro_akce {
		
		.akce_txt {
			bottom:auto;
			top:405px;
			width:90%;
		}
	}
}

@media (min-width : 600px) and (max-width : 1050px) {
	.akce_size {
		background-size:contain !important;
		height:400px !important;
	}
	#intro_logo {
		height:51px;
	}
	#intro_adresa {
		#search_address {
			bottom:39px;
		}
	}
	#intro_akce {
		.akce_switch_over {
			width:100%;
			height:400px;
		}
	}
}
@media (min-width : 1050px) and (max-width : 1250px) {
	.akce_size {
		background-size:contain  !important;
		height:500px !important;
	}
	#intro_logo {
		height:51px;
	}
	#intro_adresa {
		#search_address {
			bottom:233px;
		}
	}
	#intro_akce {
		.akce_txt {
			bottom:7px;
		}
	}
}

#tel_tip {
	position:fixed;
	top:106px;
	border:1px solid #ccc;
	right:25%;
	z-index:1000;
	.radius(10px);
	padding:10px;
	background:#fff;
	
	
}
[data-tooltip] {
	position:relative;
	&:after,&:before {
		.opacity(0);
		content:'';
	}
	&:hover,&.tooltip_active {
			
		&:before {
		  content: '';
		  position: absolute;
		  margin-left: -8px;
		  width: 0; height: 0;
		  border-bottom: 8px solid #000000;
		  border-right: 8px solid transparent;
		  border-left: 8px solid transparent;
		  content:'';
		  .opacity(100);
		}
		&:after {
			position:absolute;
			.radius(5px);
			background:#000;
			color:#fff;
			content:attr(data-tooltip);
			font-size:11px;
			z-index:100;
			padding:3px 5px;
			text-align:center;
			-webkit-transform: translate(-50%,0);
			-ms-transform: translate(-50%,0);
			transform: translate(-50%,0); 
			.opacity(100);
		}
		
		&[data-tooltip-pos="down"] {
			&:before {
				bottom:-5px;
				left:50%;
			}
			&:after {
				bottom:-31px;
				left:50%;
			}
		}
		&[data-tooltip-pos="right"] {
			&:before {
				bottom:50%;
				right:-20px;
			}
			&:after {
				bottom:-31px;
				left:50%;
			}
		}
	}
	
}

.pac-container {
	z-index:5000;
}

#alert_dev {
	width:100%;
	height:20px;
	background:#ff0000;
	color:#fff;
	text-align:center;
	padding:0 5px;
}

.atr_alert {
	color:#000;
	font-size:17px;
}


#provoz_doba_list {
	margin:15px;
	display:inline-block;
	width:20%;
	vertical-align:top;
	strong{
		display:block;
		margin:5px;
		cursor:pointer;
		color:#00a651;
		&:hover,&.active {
			color:#000;
		}
	}
}
#provoz_doba_element {
	width:70%;
	margin:15px 15px 0 15px;
	vertical-align:top;
	display:inline-block;
	background:transparent url('/css/chachar/chacharek.png') no-repeat right bottom;
	min-height:300px;
	strong {
		font-size:20px;
		display:block;
		margin-bottom:20px;
	}
	.week_day_item {
		display:block;
		font-size:20px;
		font-weight:bold;
		span {
			font-size:14px;
			width:20%;
			display:inline-block;
		}
		&.active {
			color:#00a651;
			font-size:25px;
			span {
				font-size:16px;
			}
		}
		
	}
}

p.items_alert {
	color:#000;
	background:#f9c7c7;
	padding:10px; 
	text-align:center;
}


#intro-vanoce {
	width: 100%;
	max-width: 600px;
	padding: 25px;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 75px;
	background: #fff;
	z-index: 9999999; 
	box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
	
	p {
		font-size: 16px;
		color: #6d6d6d;
		line-height: 20px;
		text-align: center;
	}
	
	.tabla-responsive {
		table {
			td, th {
				padding: 0 10px !important;
			}
		}
	}
	
	.ps { display: none; }
	
	a {
	    background: #d12235;
	    border: 0 none;
	    color: #fff;
	    cursor: pointer;
	    display: block;
	    font-size: 14px;
	    font-weight: normal;
	    height: 35px;
	    line-height: 35px;
	    margin: 20px auto 0;
	    padding: 0 10px;
	    text-align: center;
	    text-decoration: none;
	    width: 100px;
	}
	
	.left { 
		float: left;
	}
	
	.right {
		float: right;
	}
}

@media (max-width: 600px) {
	#intro-vanoce {
		.ps { display: block; }	
	}
}

.sm {
	display:block;
	font-size:12px;
	
}
#adr_preloader {
	top:-30px;
	left:2px;
}

/*
#adr_preloader2 {
	width:100%;
	height:69px;
	z-index:100;
	position:absolute;
	top:0;
	left:0;
	background:transparent url('/css/validation/var_preload.svg') no-repeat center center;	
}
*/

#ShowProvozBtn {
	margin:auto;
	display:block;
	position:relative;
	top:-19px;
}

#ShowProvozBtn2 {
	height:48px;
	.radius(5px);
}

.addressPreloader {
	width:25px;
	height:25px;
	position:absolute;
	top:13px;
	left:20px;
	z-index:100;
	background:transparent url('/css/validation/addressPreloader.svg') no-repeat center center;	
}

#provoz_name {
	margin:5px 0;
	background:#009f43;
	color:#fff; 
	padding:5px;
	display:none;
}

.nopadding {
	padding:0;
	.col {
		padding:0;
	}
}
.phone_pref {
	/*margin-right:2px;*/
} 

.greenInput {
	background:#b2f7ce !important;
}
#close_variants{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: transpare;
	z-index: 90;
	display: block;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	display:none; 
	&.hiddenCloseVariants{
		display: none; 
	}
}
#stripsMenus {
	.box-strips{
		padding-bottom: 5px;
		padding-top: 5px;
		padding-left: 5px;
		padding-right: 5px;
	}
	.shadow{
		box-shadow: #ccc 0px 0px 16px;
		width: 100%;
	}
	#step1{
		.item{
			.img{
				width: 40%;
				background-size: contain;
				background-position: right;

			}
		}
	}
	#step2{
		.item{
			.title{
				padding: 15px;
				font-weight: 700;
				white-space:nowrap;
				position:relative;
				z-index:100;
			}
			.next_step{
				position: absolute;
				bottom: 7px;
			}
			.img{
				background-position: right;
				background-size: contain;
			}
		}

	}
	.col-md-6{
		padding: 5px !important;
	}
	#stripSteps {
		width:100%;
		text-align:center;

		li {
			display:inline-block;
			text-align:center;
			margin:10px;
			text-transform:uppercase;
			span {
				background:#C1C1C1;
				width:30px;
				height:30px;
				line-height:30px;
				.radius(15px);
				display:block;
				margin:auto;
				color:#fff;
				font-weight:bold;
				margin-bottom:5px;
			}
			&.active {
				color:#000;
				font-weight:bold;
				span {
					background:#000;
				}
			}
			&.filled{
				span{
					background-color: #00a651;
					color: #fff;
					&:after{
						content: '';
						position: absolute;
						width: 24px;
						height: 24px;
						top: 0;
						background-image: url('/css/stripsy/icon_correct.png');
					}
				}

			}
		}
	}
	
	.item {
		background:#fff;
		position:relative;
		padding:5px 2px;
		margin:2px;
		min-height: 158px;
		box-shadow: #ccc 0px 0px 16px;
		font-size: 16px;
		text-transform: uppercase;
		.ico {
			width:50px;
			height:50px;
			margin:5px 15px 5px 5px;
			//border:1px solid #ccc;
			display:inline-block;

			
		}
		.text {
			display:inline-block;
			vertical-align:top;
			padding-top: 10px;
		}
		.line {
			
			border-top:1px solid #ccc;
			width:40%;
		}
		a {
			margin:10px 15px;
			display:block;
			font-weight:bold;
			font-size:20px;
			text-transform:none !important;
		}
		.title {
			font-size:16px;
			width: 30%;

		}
		.title2 {
			font-size:16px;
			font-weight:bold;
		}
		.img {
			//border:1px solid #ff0000;
			position:absolute;
			top:0;
			right:0;
			width:50%;
			height:100%;
			background-position: right;
			background-size: cover;
			&.coleslaw, &.hranolky, &.kase{
				background-size: initial;
				width:59%;
			}
			&.coleslaw{
				background-image: url('/css/stripsy/colleslaw.png');
			}
			&.hranolky{
				background-image: url('/css/stripsy/hranolky.png');

			}
			&.kase{
				background-image: url('/css/stripsy/kase.png');
			}
			&.tatarka{
				background-image: url('/css/stripsy/tatarka.png');
			}
			&.mexicka{
				background-image: url('/css/stripsy/mexicka.png');
			}
			&.belgicka{
				background-image: url('/css/stripsy/belgicka.png');
			}
			&.chilli{
				background-image: url('/css/stripsy/sweet_chili.png');
			}
			&.bbq{
				background-image: url('/css/stripsy/bbq.png');
			}
			&.kecup{
				background-image: url('/css/stripsy/kecup.png');
			}
		}

		&.nepalive {
			.img{
				background-image: url('/css/stripsy/stripsy_nepalive.png');
			}
			.ico{
				background-image: url('/css/stripsy/icon_nepalive.png');
			}
			.second {
				position:absolute;
				top:-40px;
				z-index:100;
				width:106%;
				right:-106%;
				pointer-events: all;

				
			}
			.triangle {
					width:20px;
					position:absolute;
					left:-20px;
					top:45%;
					
					border-top: 20px solid #00A651; 
					border-left: 20px solid transparent;
			}
		}
		&.pikantni {
			.img{
				background-image: url('/css/stripsy/stripsy_palive.png');
			}
			.ico{
				background-image: url('/css/stripsy/icon_palive.png');
			}
			.second {
				position:absolute;
				top:-40px;
				z-index:100;
				width:106%;
				left:-106%;
				pointer-events: all;
				
			}
			.triangle {
					width:20px;
					position:absolute;
					right:-20px;
					top:45%;
					
					border-top: 20px solid #00A651; 
					border-right: 20px solid transparent;
			}
		}
	}
	
	.menuList {
		margin:0;
		padding:0;
		.col50{
			width: 50%;
			display: inline-block;
		}
		li {
			&:first-child{
				min-height: 38px;
			}
			&.mitem {
				border-bottom:1px solid #ccc;
				color:#00A651;
			}
			background:#fff;
			list-style-type:none;
			padding:5px;
			width:100%;
			float: right;
			.background{
				width: 38%;
				height: 50px;
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				float: right;
				img {
					position: absolute;
					max-width: 90%;
				}
			}
			.title-wrapper{
				position: relative;
				display: table;
				height: 57px;
				.title{
					//width: 48%;
					//float: left;

					display: table-cell;
					vertical-align: middle;
				}
			}
			

			&.next {
				border-top:1px solid #ccc;
				text-align:center;
				color:#666;
			}
			&.title {
				background:#00A651;
				color:#fff;
				position:relative;
				line-height:50px;
				text-align:center;
				font-weight:bold;
				&:before {
					background:transparent url('/css/chachar/basket_footer_zub.png');
					content:'';
					position:absolute;
					bottom:-2px;
					left:0;
					width:100%;
					height:10px;
					
				}
			}
		}
	}
	
	#menuDesc {
				color:#666;
				text-align:center;
			}

	
	#stripsSelect {
		box-shadow: #ccc 0px 0px 16px;
		.desc {
			color:#666;
			background:#fff;
			padding:10px;
		}
		ul {
			margin:0;
			padding:0;
			li {
				color:#fff;
				background:#00A651;
				border-bottom:1px solid #2CB56F;
				list-style-type:none;
				margin:0;
				padding:10px;
				.select {
					cursor:pointer;
					width:30px;
					height:30px;
					display:inline-block;
					vertical-align:middle;
					background:#fff;
					.radius(5px);
					margin:5px 15px 5px 5px;
					&.fa-check {
						color:#00A651;
						font-size:20px;
						text-align:center;
						line-height:30px;
					}
				}
				span.price {
					float:right;
					margin-top:5px;
				}
			}
		}
	}
}

.fullAdd {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:80%;
		cursor:pointer;
		z-index:100;
	}