/**
.fst_checkbox();  // class for own checkbox
.fst_radio();  // class for own radio
.radius(5px);  // class for radius

.overflow  // overflow hidden
.clear // clear both
.no-padding // nopadding
.none // display none
.relative // position relative
.invalid // form input is invalid
.lazy // lazy load image
.noselect() // noselect element
.appearance() // disable appearance
.text-shadow (@h-shadow, @v-shadow, @blur-radius, @color) {
.box-shadow (@string) 
.opacity(@value)
.input_shadow(@color)
.scale(@val)
.transition(@time) {transition: all @time ease-in-out;}
.transition2(@type, @time) {transition: @type @time ease-in-out;}
.clearfix() // clear fix
.flipcard // flip card 
.text_right // text align right 
*/
/* BARVY */
@import "fonts/awesome.css";
@main: #76cbb8;


a {
	&:link {color:#00a651;text-decoration:underline;};
	&:hover {color:#ed1c24;text-decoration:none;}
	&:visited {color:#00a651;text-decoration:underline;}
	&:active {color:#ff0000;text-decoration:underline;} 
	&.btn {
		color:#666;
		text-decoration:none;
		&.btn-primary {
			color:#fff;
		}
	}
}
.btn:focus {
	background:#ed1c24;
}
.btn-primary {
		background:#ed1c24; 
		color:#fff;
		border:1px solid #ed1c24;
		.radius(40px);
		font-weight:bold;
		&.btn-sm {
			padding:0 5px;
		}
		.transition(0.2s);
		
		&:hover {
			background:#00A651;
			
			.transition(0.2s);
			border-color:#00A651;
			color:#fff !important;
		}
		
	
}
.btn-default {
		background:#00A651; 
		color:#fff;
		border:1px solid #00A651;
		.radius(40px);
		padding:10px 19px;
		font-weight:bold;
		
		.transition(0.2s);
		&.btn-sm {
			padding:0 5px;
		}
		&:hover {
			
			.transition(0.2s);
			background:#ed1c24;
			border-color:#ed1c24;
			color:#fff;
		}
		
	
}
a.btn-default {
	color:#fff !important;
	&:hover {
		
		color:#fff !important;
	}
}
.mobile_show {
	display:none !important;
}
.right {
	float:right;
}
.search_preloader {
	width:20px;
	height:20px;
	background-color:#ccc;
	background-image:url('/css/validation/preloader.svg');
	background-repeat: no-repeat;
	background-position:center center;
	background-size:20px;
	
}
.search_preloader_content {
	width:100%;
	height:100%;
	background-color:rgba(255,255,255,0.5);
	background-image:url('/css/validation/preloader2.svg');
	background-repeat: no-repeat;
	background-position:center center;
	background-size:35px;
	position:absolute;
	top:0;
	left:0;
	z-index:2000000;
	
}
.form-control {
	background:#f3f3f3;
	border:1px solid #ccc;
	height:50px;
	line-height:normal;
	margin-bottom:5px;
}
div.form-control {
	line-height:39px;
}

.auto_search_result {
	position:absolute;
	border:1px solid #ccc;
	width:100%;
	min-height:50px;
	background:#fff;
	z-index:1000000;
	padding:2px;
	.sep {
		width:1px;
		height:100%;
		border-right:1px solid #ccc;
		position:relative;
		display:inline-block;
				
	}
	.search_item {
		border:0px solid blue;
		width:50%;
		margin-bottom:1px;
		display:inline-block;
		vertical-align:top;
		
		&.products {
			width:59%;
			margin-right:1%;
				
			
		}
		
		&.categories {
			margin-left:1%;
			width:38%;
		}
		
		.search_title {
			font-weight:bold;
			padding:2px;
		}
		
		.search_line {
			display:block;
			border-bottom:1px solid #efefef;
			cursor:pointer;
			padding:2px;
			vertical-align:middle;
			line-height:28px;
			&:hover {
				background:#666;
				color:#fff;
			}
			&.noresult:hover {
				background:transparent;
				color:#000;
				cursor:auto;
			}
			div.img {
				border:0px solid #ccc;
				width:30px;
				margin:2px;
				height:30px;
				display:inline-block;
				float:left;
				margin:0 5px 0 0;
				vertical-align:middle;
				img {
					max-width:100%;
				}
			}
		}
	}
}

.fst_checkbox() {
		
	input[type="checkbox"]:not(:checked),
	input[type="checkbox"]:checked {
	  position: absolute;
	  left: -9999px;
	}
	input[type="checkbox"]:not(:checked) + label,
	input[type="checkbox"]:checked + label {
	  position: relative;
	  padding-left: 1.95em;
	  cursor: pointer;
	  margin-right:3px;
	}

	/* checkbox aspect */
	input[type="checkbox"]:not(:checked) + label:before,
	input[type="checkbox"]:checked + label:before {
	  content: '';
	  position: absolute;
	  left: 0; top: 0;
	  width: 1.25em; height: 1.25em;
	  border: 1px solid #f2f2f2;
	  background: #fff;
	  border-radius: 3px;
	}
	/* checked mark aspect */
	input[type="checkbox"]:not(:checked) + label:after,
	input[type="checkbox"]:checked + label:after {
	  content: '\f00c';
	  font-family: 'awesome';
	  position: absolute;
	  top: 6px; left: 5px;
	  font-size: 12px;
	  line-height: 0.8;
	  color: #74DA1A;
	  transition: all .2s;
	}
	/* checked mark aspect changes */
	input[type="checkbox"]:not(:checked) + label:after {
	  opacity: 0;
	  transform: scale(0);
	}
	input[type="checkbox"]:checked + label:after {
	  opacity: 1;
	  transform: scale(1);
	}
	/* disabled checkbox */
	input[type="checkbox"]:disabled:not(:checked) + label:before,
	input[type="checkbox"]:disabled:checked + label:before {
	  box-shadow: none;
	  border-color: #bbb;
	  background-color: #ddd;
	}
	input[type="checkbox"]:disabled:checked + label:after {
	  color: #999;
	}
	input[type="checkbox"]:disabled + label {
	  color: #aaa;
	} 
}
.fst_radio() {
		
	input[type="radio"]:not(:checked),
	input[type="radio"]:checked {
	  position: absolute;
	  left: -9999px;
	}
	input[type="radio"]:not(:checked) + label,
	input[type="radio"]:checked + label {
	  position: relative;
	  padding-left: 5px;
	  cursor: pointer;
	  vertical-align:top;
	  margin-right:3px;
	}

	/* radio aspect */
	input[type="radio"]:not(:checked) + label:before,
	input[type="radio"]:checked + label:before {
	  content: '';
	  position: absolute;
	  left: 0; top: 2px;
	  width: 1.25em; height: 1.25em;
	  border: 1px solid #f2f2f2;
	  background: #fff;
	  .radius(13px);
	}
	/* checked mark aspect */
	input[type="radio"]:not(:checked) + label:after,
	input[type="radio"]:checked + label:after {
	  background:#74DA1A;
	  content:'';
	  width:10px;
	  height:10px;
	  .radius(5px);
	  position: absolute;
	  top: 6px; left: 4px;
	  font-size: 12px;
	  line-height: 0.8;
	  color: #74DA1A;
	  transition: all .2s;
	}
	/* checked mark aspect changes */
	input[type="radio"]:not(:checked) + label:after {
	  opacity: 0;
	  transform: scale(0);
	}
	input[type="radio"]:checked + label:after {
	  opacity: 1;
	  transform: scale(1);
	}
	/* disabled radio */
	input[type="radio"]:disabled:not(:checked) + label:before,
	input[type="radio"]:disabled:checked + label:before {
	  box-shadow: none;
	  border-color: #bbb;
	  background-color: #ddd;
	}
	input[type="radio"]:disabled:checked + label:after {
	  color: #999;
	}
	input[type="radio"]:disabled + label {
	  color: #aaa;
	} 
}

.sitemap {
	margin:0;
	padding:0;
	li {
		list-style-type:none;
		line-height:25px;
		a {
			display:block;
			border-bottom:1px solid #efefef;
		
			font-size:20px;
		}
		ul {
			display:block;
			li {
				a {
					font-size:14px;
				}
			}
		}
	}
}

#languages {
	position:absolute;
	top:5px;
	right:5px;
	li {
		list-style-type:none;
		display:inline-block;
		a {
			&.active {
				color:#ff0000;
				font-weight:bold;
			}
		}
	}
}

.pagination {
	text-align:center;
	width:100%;
	li {
		display:inline-block;
		&.prev {
			float:left;
		}
		&.next {
			float:right;
		}
	}
	.ellipsis {
		display:none;
	}
}

#history_preloader {
	position: absolute;
	top: 0;
	left: 0;
	width: 99.5%;
	height:100%;
	background-color:rgba(204,204,204,0.5);
	background-image:url('/css/validation/preloader.svg');
	background-repeat: no-repeat;
	background-position:center center;
	background-size:56px;
	
}
.text_right {text-align:right;}
.overflow {overflow:hidden !important;}
.clear {clear:both;}
.no-padding {padding:0 !important;}
.fa {font-family:"awesome";}
.none {display:none !important;}
.relative {position:relative;}
.invalid {
	border:1px solid #ff0000 !important;
}
.margin10 {
	margin:0 10px 10px 0;
}
.checkbox {

}
.lazy {
	&.preloader {
		min-height:30px;
		background-color:transparent;
		background-image:url('/css/validation/var_preload.svg');
		background-repeat: no-repeat;
		background-position:center center !important;
		background-size:auto auto !important;
		transition:none;
		height:100%;
	}
}
#map_canvas {
	width:100%;
	height:300px;
	position:relative;
	display:block;
	&.preloader {
		min-height:80px;
		background-image:url('/css/validation/preloader.svg');
		background-repeat: no-repeat;
		background-position:center center;
		background-size:56px;
		
	}
}
.load_contact_form {
	&.preloader {
		min-height:80px;
		background-image:url('/css/validation/preloader.svg');
		background-repeat: no-repeat;
		background-position:center center;
		background-size:56px;
		
	}
}
.button_preloader {
	background-image:url('/css/validation/preloader_button.svg') !important;
	background-repeat: no-repeat !important;
	background-position:right center !important;
	background-size:26px !important;
	background-color:#ff0000;
	padding-right:28px;
	&:hover {
		background-color:#ff0000 !important;
			
	}
}
.el_preloader {
	position:relative;
	&::before {
		content:'';
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background-color:rgba(224,224,224,0.5);
		background-image:url('/css/validation/preloader.svg');
		background-position:center center;
		background-repeat:no-repeat;
		
	}
}
.bd-sidebar {
	.row {
		margin:0;
	}
}
#contents {
	.row {
		margin:0px;
	}
}
/* CSS MIXINY */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.appearance(){
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	&::-ms-expand {
		display: none;
	}
	
}

.fst_select() {
	background-image:url('/css/layout/select.svg');
	background-repeat:no-repeat;
	background-position:right center;
	background-size:15px;
	padding-right:20px;	
	.appearance();
}
select.form-control {
	
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	background-image:url('/css/layout/select.svg');
	background-repeat:no-repeat;
	background-position:right center;
	background-size:15px;
	padding-right:20px;
}


.scale(@val) {
	-ms-transform: scale(@val);
    -webkit-transform: scale(@val);
    -moz-transform: scale(@val);
    -o-transform: scale(@val);
    transform: scale(@val);
}

.text-shadow (@h-shadow, @v-shadow, @blur-radius, @color) {
	text-shadow: @h-shadow @v-shadow @blur-radius @color;
}

.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}

.box_sizing() {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.opacity(@value){
	
	-webkit-opacity:@value;
	-moz-opacity:@value;
	opacity:@value*0.01;
	/*
	filter:alpha(opacity=@value);
*/
}

.transition(@time) {
	-webkit-transition: all @time ease-in-out;
	-moz-transition: all @time ease-in-out;
	-o-transition: all @time ease-in-out;
	-ms-transition: all @time ease-in-out;
	transition: all @time ease-in-out;
}
.transition_time(@time) {
	-webkit-transition: @time;
	-moz-transition: @time ;
	-o-transition: @time ;
	-ms-transition: @time ;
	transition: @time ;
}
.transition2(@type, @time) {
	-webkit-transition: @type @time ease-in-out;
	-moz-transition: @type @time ease-in-out;
	-o-transition: @type @time ease-in-out;
	-ms-transition: @type @time ease-in-out;
	transition: @type @time ease-in-out;
}

.clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

.placeholder(@color, @weight, @font, @size){
	::-webkit-input-placeholder { color: @color; font-weight:@weight; font-family: @font; font-size: @size;}
	/* Firefox 18- */
	:-moz-placeholder { color: @color; opacity:1; font-weight:@weight; font-family: @font; font-size: @size; }
	/* Firefox 19+ */
	::-moz-placeholder { color: @color; opacity:1; font-weight:@weight; font-family: @font; font-size: @size; }
	/* IE */
	:-ms-input-placeholder { color: @color; font-weight:@weight; font-family: @font; font-size: @size;}
}

.input_shadow(@color){
 box-shadow:0 0 1px @color inset, 0 0 1px @color inset, 0 0 0 @color inset, 0 0 0 @color inset, 0 0 2px rgba(239, 127, 1, 0.5);
 -moz-box-shadow: 0 0 1px @color inset, 0 0 1px @color inset, 0 0 0 @color inset, 0 0 0 @color inset, 0 0 2px rgba(239, 127, 1, 0.5);
 -webkit-box-shadow: 0 0 1px @color inset, 0 0 1px @color inset, 0 0 0 @color inset, 0 0 0 @color inset, 0 0 2px rgba(239, 127, 1, 0.5);
}

.rotate(@rad) {
    -ms-transform: rotate(@rad);
    -webkit-transform: rotate(@rad);
    -o-transform: rotate(@rad);
    -moz-transform: rotate(@rad);
    transform: rotate(@rad);
}

.radius(@radius) {
     -webkit-border-radius: @radius; -moz-border-radius: @radius; border-radius: @radius; -ms-border-radius: @radius; -o-border-radius: @radius;-webkit-background-clip: padding-box;   -moz-background-clip:    padding;   background-clip:         padding-box;
}

::selection {
	background: @main;
	color: #fff;
}

::-moz-selection {
	background: @main;
	color: #fff;
}

.font_size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  font-size: ~"@{pxValue}px";
  font-size: ~"@{remValue}rem";
}
/* END CSS MIXINY */

/* FONTY */
@font-face {
    font-family: 'awesome';
    src: url('/css/fonts/awesome/fontawesome-webfont.eot');
    src: url('/css/fonts/awesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/awesome/fontawesome-webfont.woff') format('woff'),
         url('/css/fonts/awesome/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
