@import "global.less";
#mobile_page_preloader {
	display:block;
	width:100%;
	height:100%;
	background:rgba(255,255,255,0.8) url('/css/validation/preloader_load.gif') no-repeat center center;
	position:fixed;
	top:0;
	left:0;
	z-index:1000;
}
#mobile_items {
	margin:0;
	padding:0;
	li {
		&.order_item_blinkRed {
			animation: blinkerRed 1s linear infinite;
		}
		&.order_item_blinkOrange {
			animation: blinkerOrange 1s linear infinite;
		}
		padding:3px;
		list-style-type:none;
		width:100%;
		border:1px solid #ccc;
		margin-bottom:5px;
		position:relative;
		min-height:155px;
		&.new {
			background:#d6ffd6;
		}
		&.even {
			background:#eaeaea;
		}
		&.choose {
			background:#ffa5a5;
		}
		.btns {
			float:none;
			margin:10px 0 0 0;
			text-align:left;
			position:relative;
			.btn {
				display:inline-block;
				padding:8px 15px;
				margin-bottom:8px;
			}
		}
		.doba_date {
			position:absolute;
			top:30px;
			right:5px;
			strong {
				color:#ff0000;
			}
		}
		.polozky {
			display:inline-block;
			padding:4px 8px;
			margin-top:5px;
			margin-bottom:5px;
		}
		.name {
			font-weight:bold;
			display:block;
			a {
				display:block;
				width:100px;
			}
			
		}
		.tel {
			display:block;
			font-size:20px;
		}
		.move  {
			cursor:pointer;
			width:75px;
			height:35px;
			text-align:left;
			padding-left:10px;
			margin-right:0px;
			position:absolute;
			top:80px;
			right:5px;
			width:40px;
			&:before {
				font-size:25px;
				text-align:center;
			}
		}
		
		.vezu {
			background:#bf6822;
			border:1px solid #bf6822;
			&.active {
				font-size:18px;
				background:transparent;
				color:#000;
				&:hover {
					color:#000 !important;
				}
			}
		}
		
		.vylozeno {
		}
		.nevylozeno {
			border:0px solid red;
			position:absolute;
			top:5px;
			right:7px;
			width:25px;
			height:25px;
			
			text-decoration:none;
				
			&:before {
				font-size:20px;
				color:#ff0000;
			}
			
		}
		.navigovat {
		}
		.km {
			color:#000;
			font-weight:bold;
		}
		.price {
			color:#666;
			position:relative;
			/*
			top:118px;
			*/
			right:5px;
			font-weight:bold;
			vertical-align:bottom;
			display:block;
			text-align:right;
			font-size:15px;
			.price_suf {
				vertical-align:bottom;
			}
			var {
				float:left;
				font-style:normal;
				font-weight:normal;
			}
		}
		ul.products {
			margin:5px 0;
			background:#fff;
			padding:8px;
			width:99%;
			li {
				margin-left:10px;
				list-style-type:decimal;
				border:0;
				border-bottom:1px solid #ccc;
				min-height:30px;
				width:calc(100% -17px);
				&:last-child {
					border:0;
				}
				.cnt {
					font-weight:bold;
				}
			}
		}
	}
}

@keyframes blinkerRed {
  50% {
	  background:#fcbdbd;
	  
  }
}

@keyframes blinkerOrange {
  50% {
	  background:#f9d595;
	  
  }
}
#reload_mobile {
	position:relative;
	&.preloader {
		&:before {
			content:'';
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background:rgba(255,255,255,0.6) url('/css/validation/var_preload.svg') no-repeat center 10%;
		}
	}
}
#map-canvas {
	width:100%;
	height:300px;
	border:1px solid #ccc;
	&.hide_map {
		position:absolute;
		left:-10000px;
		top:0;
	}
}
.mobile_header {
	padding:10px;
	height:50px;
	.button {
		float:left;
		background:#ccc;
		color:#000;
		padding:5px 10px;
		font-size:14px;
		text-decoration:none;
		.radius(15px);
		font-weight:bold;
		&.red {
			background:#ed1c24;
			color:#fff;
		}
	}
	#Reload {
		float:right;
	}
}

#logged_info {
	width:200px;
	margin:auto;
	left:0;
	right:0;
	top:2px;
	line-height:15px;
	font-size:12px;
	position:absolute;
	text-align:center;
	
}
#gpsTime {
	position:fixed;
	top:33px;
	left:0;
	right:0;
	margin:auto;
	width:170px;
	text-align:center;
	font-size:10px;
	display:block;
}

#map_canvas_rozvozces {
	width:99%;
	height:100%;
	margin:10px;
	border:1px solid #ccc;
}

#noGps {
	position:fixed;
	bottom:0;
	left:0;
	background:#ff0000;
	color:#fff;
	text-align:center;
	width:100%;
}

#mobileNoResponse {
	background:#ff0000;
	color:#fff;
	width:98%;
	text-align:center;
	padding:5px;
}