@import "global.less";
.no_pull_right(){
	.row {
		.col-md-9,.col-md-6 {
			&.pull-right {
				float: none !important;
			}
		}
	}  
	.pull-right {
		float: none !important;
	}
}
.autoSearchResult {
	.auto_search_result {
		.sep {
			display:none;
		}
		.search_item {
			width:100% !important;
		}
	}
}

/*--- Mobile portrait ---*/
@media(max-width: 768px){
	#close_variants{
		z-index: 1;
	}
	#stripsMenus{
		#step2, #step1{
			.item{
				.img{
					//width: 40%;
					background-size: contain;
					background-position: right;
				}
			}
		}
		.shadow{

			float: left;
			margin-bottom: 15px;
		}
		.item.pikantni{
			//z-index: 999999;
		}
		.item.nepalive, .item.pikantni{
			.second{
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				width: 100%;
				height: 330px;
				position: fixed;



				#stripsSelect{
					.triangle{
						display: none;
					}
				}
			}

		}
	}
}
@media (min-width : 300px) and (max-width : 600px) {
	#stripsMenus{
		.shadow{

			float: left;
			margin-bottom: 15px;
		}
		.item.nepalive, .item.pikantni{
			.second{
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				width: 100%;
				height: 330px;
				position: fixed;
				z-index: 100000;
				#stripsSelect{
					.triangle{
						display: none;
					}
				}
			}

		}
	}
	#stripSteps{
		padding-left: 0;
		li{
			width: 20%;
		}
	}
	#search_line {
		display:none;
	}
	#sidemenu {
		display:none;
	}
	#oteviraci_doba_win	{
		.content {
			width:100%;
			height:97%;
			overflow:auto;
			padding-bottom:30px;
		
			.week_day {
				width:48%;
			}
		}
		
		#provoz_doba_list {
			width:100%;
			strong {
				font-size:20px;
			}
		}
		#provoz_doba_element {
			width:100%;
			background:none;
		}
	}
	
	#mobile_provoz {
		position:fixed;
		top:82px;
		left:0;
		z-index:1000;
		width:100%;
		background:#fff;
		height:100%;
		#mobile_provoz_show {
			color:#fff;
			font-weight:bold;
			text-align:center;
			line-height:25px;
			height:29px;
			cursor:pointer;
			background:#00A651;
			text-decoration:underline;
			span.fa {
				margin-left:5px;
				&:before {
					font-size:20px;
					position:relative;
					top:2px;
				}
			}
		}
		.mobile_line {
			height:31px;
			display:block;
			width:100%;
		}
		#mobile_provoz_content {
			padding:10px;
			text-align:left;
			overflow:scroll;
			height:75%;
		}
		#search-address-tel {
			height:40px;
			line-height:40px;
			font-size:15px;
			
		}
		.address_clear {
			height:85%;
			&:before {
				top:23%;
				right:2px;
				font-size:18px;
			}
		}
		&.top {
			top:0;
			#mobile_provoz_content {
				height:100%;
			}
		}
		&.close_el {
			height:29px;
			overflow:hidden;
		}
	}
	#navigation {
		ul {
			left:0;
		}
	}
	#login_element .form-signin-heading {
		font-size:15px;
	}
	#rozcestnik_link {
		z-index:10000;
		left:0;
		top:0;
	}
	#rozcestnik {
		.roz_desc {
			font-size:15px;
		}
		#roz_list {
			.roz_item {
				width:96%;
				height:120px;
				background-image:none !important;
				h2 {
					font-size:30px;
				}
			}
		}
	}
	#page_preloader {
		.progress {
			top:112px;
			top:0px;
		}
		.panak {
			top:42px;
		}
	}
	
	.only_mobile {
		display:block !important;
	}
	.mobile_hide,.no_mobile { 
		display:none !important;
	}
	.inner { 
		width:90%;
	}
	#page404  {
		#logo_adopt {
			display:none;
		}
		.txt {
			top:2%;
		}
	}
	
	#vtip_list {
		.vtip {
			background-size:30px auto;
		}
	}
	#logo {
		width:115px;
	}
	#header_adopt {
		height:75px;
	}
	h1 {font-size:19px;}
	h2 {font-size:17px;}
	fieldset {
		.col {
			margin-top:7px;
			margin-bottom:2px;
		}
	}
	#reg_progress {
		top:1px;
	}
	
	/* seznam adres v prihlaseni editace*/ 
	#address_list {
		li {
			line-height:18px;
		}
	}
	.form-group{
		&.form-inline{
			margin:0;
			label {
				width:100%;
			}
			input.form-control,textarea,select {
				width:100%;
			}
		}
	}
	#bs-example-navbar-collapse-1 {
		width:100%;
		background:#efefef;
		left:0;
		top:84px;
		position:absolute;
		z-index:1000;
		margin:auto;
	}
	#navigation {
		height:80px;
		position:fixed;
		top:0;
		width:100%;
		z-index:1001;
		left:0;
		border:0;
		ul {
			background:#efefef;
			li {
				text-align:left;
				display:block;
				border-bottom:1px solid #ccc;
				&:last-child {
					border-bottom:0;
				}
			}
		}
	}
	.navbar-toggle {
		top:25px;
		.icon-bar {
			background-color:#000 !important;
		}
	}
	
	#login_element {
		position:fixed;
		top:86px;
		left:3.5%;
		width:93%;
		z-index:200;
		background:#fff;
		border:0px solid #ccc;
		.radius(5px);
		z-index:1000;
		.login_close {
			width:45px;
			height:45px;
			top:3px;
			right:5px;
			z-index:100;
		}
		#show_login_el {
			top:0px;
			.login_roh {
				top:60px;
				right:93px;
			}
		}
		#mobile_login{
			position:fixed;
			top:23px;
			right:70px;
			display:block;
			padding:6px;
			/*
			width:62px;
			height:40px;
			text-align:center;
			line-height:35px;
			font-size:30px;
			cursor:pointer;
			display:block;
			/*
			background:transparent url('/css/chachar/user.png') no-repeat center center;
			&.fa {
				&:before {
					display:none;
				}
			}
			*/
		}
		.mobile_login_hide {
			position:fixed;
			top:-1000px;
			left:-1000px;
		}
		&.show {
			padding:10px;
			.mobile_login_hide {
				position:relative;
				top:auto;
				left:auto;
			}
		}
	}
	
	
	#header {
		margin-top:55px;
	}
	.no_pull_right();
	.autoSearchResult();
}
/*--- Mobile landscape ---*/
@media (min-width : 480px) and (max-width : 595px) {
	.no_pull_right();
	.autoSearchResult();
}
/*--- Small tablet portrait ---*/
@media (min-width : 595px) and (max-width : 690px) {
	
	.inner {
		width:98%;
	}
}
/*--- Tablet portrait ---*/
@media (min-width : 690px) and (max-width : 800px) {
	.no_pull_right();
	.autoSearchResult();
	
	.inner {
		width:98%;
	}
}
/*--- Small tablet landscape ---*/
@media (min-width : 800px) and (max-width : 1024px) {
	
	.inner {
		width:98%;
	}
}
/*--- Tablet landscape --- */
@media (min-width : 1024px) and (max-width : 1524px) {
	.product_item {
		div.image.pizza { 
			div.img {
				top:-20px !important;
			}
		}
	}
	#provoz_list {
		.provoz_info {
			.more_date {
				margin-left:0px;
			}
			.tel_desc {
				span.tel {
					font-size:22px;
					a {
						font-size:22px;
						
					}
				}
			}
			.ico {
				width:50px;
				height:53px;
				margin-bottom:12px;
				background-size:100% auto;
				background-position:top 6px center;
			}
		}
	}
}
@media (min-width : 1024px){
	#page_preloader {
		.panak {
			width:543px;
			height:475px;
			background:transparent url('/css/chachar/panak_big.jpg') no-repeat center center;

		}
	}
}


@media (min-width : 600px) and (max-width : 1200px) {
#navigation {
ul.nav {
		li {
			a {
				font-size:13px;
			}
		}
}
}
}