#layout_kosik_element {
	background:#00a651;
}
#page_preloader {
	position:fixed;
	top:0;
	left:0;
	z-index:100;
	width:100%;
	height:100%;
	display:block;
	background:#fff;
	
	.panak {
		position:absolute;
		top:0;
		bottom:50px;
		left:0;
		right:0;
		width:543px;
		height:475px;
		background:transparent url('/css/chachar/panak_big.jpg') no-repeat center center;
		background-size:contain;
		z-index:10;
		margin:auto;
		
	}
	.progress {
		width:100%;
		background:#efefef;
		height:5px;
		position:absolute;
		top:0;
		left:0;
		z-index:10;
		.over {
			width:0%;
			background:#00A651;
			position:absolute;
			top:0;
			left:0;
			height:100%;
			animation:loadbar 5s infinite;
			-webkit-animation:loadbar 5s infinite;
		}
				
		
	}
}
@media (min-width : 300px) and (max-width : 600px) { 
	#page_preloader {
		.progress {
			top:113px;
		}
		.panak {
			width:300px;
			height:262px;
			top:86px;
		}
	}
}