<?php
echo '<div id="map_orders" data-id="'.(isset($map_id)?$map_id:'').'" class="'.(!isset($map_id)?'none':'load').'">';
	echo '<h2>'.__d('shop','Vaši objednávku již vezeme k vám').'</h2>';
	echo '<div id="map_close"></div>';
	echo '<div id="map_canvas"></div>';
echo '</div>';
?>