<div id="vopModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal_large">

    <!-- Modal content-->
    <div class="modal-content">
	   
	    
	 <?php /*   
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><?php echo __d('shop', 'Všeobecné obchodní podmínky');?></h4>
      </div>
      <div class="modal-body">
        <p>
Curabitur vel risus eu turpis malesuada rutrum ut quis mauris! Duis vel arcu hendrerit, elementum augue pretium, mollis metus! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla malesuada orci vitae rutrum. Pellentesque facilisis vehicula efficitur! Donec eu mi eget ipsum aliquet ultrices quis sed elit. Pellentesque blandit purus metus, at ornare neque consequat laoreet. Vestibulum scelerisque nulla ut condimentum congue. Nunc sapien metus, sollicitudin ut tristique sed, pulvinar laoreet dui.
</p>
<h2>Headline</h2>
<p>
Donec diam massa, malesuada in nisl sit amet, mattis lobortis ipsum. Suspendisse potenti. Fusce orci nibh, rhoncus ac odio ac, viverra pharetra orci. Suspendisse sem magna; convallis quis accumsan vel; sodales quis turpis. Suspendisse egestas sem faucibus vehicula sollicitudin. Phasellus sollicitudin libero at purus iaculis varius. Integer efficitur scelerisque augue, eu venenatis ex eleifend sed! Nulla non tincidunt tellus. Phasellus fringilla eu sem at efficitur? Morbi mollis velit sit amet libero consectetur, quis hendrerit mi auctor! Duis viverra enim id elit tincidunt molestie? Phasellus placerat, tortor sit amet molestie posuere, nibh velit ornare turpis, non fringilla sem ipsum a turpis. Quisque scelerisque ligula velit, et dapibus lorem bibendum venenatis. Fusce convallis ante non ligula sodales fringilla. Fusce vel rhoncus elit. In ut molestie velit, quis tincidunt arcu.
</p>

<p>
Duis suscipit interdum pharetra! Suspendisse potenti. Aenean vel nulla eget purus iaculis convallis? Cras commodo feugiat velit nec volutpat. In sed vestibulum erat. Duis ullamcorper ex lacus, ac placerat massa malesuada eu. Praesent sollicitudin lorem nec purus dignissim, nec pulvinar odio semper. Phasellus nibh purus, egestas feugiat nunc eu, mollis mollis erat! Nunc tellus nisi, malesuada in ullamcorper euismod, accumsan tempor eros. Integer fermentum, eros quis suscipit laoreet, erat nibh placerat ligula; sed blandit nibh mauris sit amet ex. Nulla porttitor nisi orci, sit amet dignissim nunc efficitur sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec erat nisl, sodales non tellus vel; hendrerit luctus mauris. Suspendisse consectetur nisi in libero ullamcorper; in vehicula sem gravida.
</p><p>
Curabitur vel risus eu turpis malesuada rutrum ut quis mauris! Duis vel arcu hendrerit, elementum augue pretium, mollis metus! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fringilla malesuada orci vitae rutrum. Pellentesque facilisis vehicula efficitur! Donec eu mi eget ipsum aliquet ultrices quis sed elit. Pellentesque blandit purus metus, at ornare neque consequat laoreet. Vestibulum scelerisque nulla ut condimentum congue. Nunc sapien metus, sollicitudin ut tristique sed, pulvinar laoreet dui.
</p>

<p>
Donec diam massa, malesuada in nisl sit amet, mattis lobortis ipsum. Suspendisse potenti. Fusce orci nibh, rhoncus ac odio ac, viverra pharetra orci. Suspendisse sem magna; convallis quis accumsan vel; sodales quis turpis. Suspendisse egestas sem faucibus vehicula sollicitudin. Phasellus sollicitudin libero at purus iaculis varius. Integer efficitur scelerisque augue, eu venenatis ex eleifend sed! Nulla non tincidunt tellus. Phasellus fringilla eu sem at efficitur? Morbi mollis velit sit amet libero consectetur, quis hendrerit mi auctor! Duis viverra enim id elit tincidunt molestie? Phasellus placerat, tortor sit amet molestie posuere, nibh velit ornare turpis, non fringilla sem ipsum a turpis. Quisque scelerisque ligula velit, et dapibus lorem bibendum venenatis. Fusce convallis ante non ligula sodales fringilla. Fusce vel rhoncus elit. In ut molestie velit, quis tincidunt arcu.
</p>

<p>
Duis suscipit interdum pharetra! Suspendisse potenti. Aenean vel nulla eget purus iaculis convallis? Cras commodo feugiat velit nec volutpat. In sed vestibulum erat. Duis ullamcorper ex lacus, ac placerat massa malesuada eu. Praesent sollicitudin lorem nec purus dignissim, nec pulvinar odio semper. Phasellus nibh purus, egestas feugiat nunc eu, mollis mollis erat! Nunc tellus nisi, malesuada in ullamcorper euismod, accumsan tempor eros. Integer fermentum, eros quis suscipit laoreet, erat nibh placerat ligula; sed blandit nibh mauris sit amet ex. Nulla porttitor nisi orci, sit amet dignissim nunc efficitur sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec erat nisl, sodales non tellus vel; hendrerit luctus mauris. Suspendisse consectetur nisi in libero ullamcorper; in vehicula sem gravida.
</p>
      </div>
      */ ?>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo __('Zavřít');?></button>
      </div>
    </div>

  </div>
</div>
