@import "../../../../webroot/css/global.less";
/* modal VOP */
.modal_large {
	width:1000px;
					
}
#products_list {
	padding-bottom:150px;
		
}
#gopay {
	padding-top:10px;
	clear:both;
	display:block;
}


/* layout kosik */
#layout_kosik_element {
	position:fixed;
	background:#00a651;
	bottom:0;
	left:0;
	width:100%;
	min-height:62px;
	padding:5px 0;
	z-index:102; 
	.products_basket {
		width:calc(100% -280px);
	}
	&.el_preloader {
		&:before {
			background-color:transparent;
		}
	}
	
	&.page_preload {
		
		div {
			
			.opacity(0);
		}
		ul {
			li {
				display:none;
			}
		}
	}
	&:not(.page_preload) {
		
		div {
			.transition(0.5s);
			.opacity(100);
		}
		ul {
			li {
				display:inline-block;
			}
		}
	}
	&:before {
		width:100%;
		height:3px;
		background:transparent url('/css/chachar/basket_footer_zub.png');
		position:absolute;
		top:-3px;
		left:0;
	}
	
	.basket_empty {
		visibility:hidden;
	}
	
	.side_left {
		position:absolute;
		top:0;
		left:5px;
		bottom:0;
		margin:auto;
		width:150px;
		height:47px;
	}
	.side_right {
		width:130px;
		position:absolute;
		top:0;
		right:5px;
		bottom:0;
		margin:auto;
		height:50px;
		.chbut {
			font-size:23px;
			font-weight:bold;
		}
	}
	
	.foo_basket_ico {
		.transition(0.5s);
		&.scale {
			.scale(1.5);
			.transition(0.5s);
		}
		width:55px;
		height:37px;
		background:transparent url('/css/chachar/footer_basket.png') no-repeat center center;
		margin-top:5px;
		display:inline-block;
		vertical-align:middle;
		background-size:contain;
		position:relative;
		
		span.shop_basket_total_ks {
			line-height:20px;
			font-size:11px;
			font-weight:bold;
			background:#ED1C24;
			color:#fff;
			text-align:center;
			width:20px;
			height:20px;
			.radius(10px);
			position:absolute;
			top:0px;
			left:0px;
		}
	}
	.foo_basket_price {
		margin:0 5px;
		display:inline-block;
		vertical-align:middle;
		font-weight:normal;
		margin-bottom:5px;
		span.shop_basket_total_price_vat {
			display:block;
			color:#fff;
			font-size:25px;
			font-weight:bold;
			line-height:15px;
			margin-top:5px; 
		}
	}
	.btn-default {
		position:absolute;
		right:5px;
		top:2px;
	}
	
	.chbut {
		color:#30A651 !important;
		margin:8px 10px 0 0;
		/*padding:0 20px;*/
		background:#fff;
		text-decoration:none;
		.radius(20px);
	}
	
	ul {
		display:block;
		vertical-align:top;
		margin:0;
		padding:0;
		margin:auto;
		li {
			position:relative;
			margin:0;
			padding:0;
			padding:5px 31px 5px 5px;
			.radius(25px);
			list-style-type:none;
			display:inline-block;
			border:1px solid #008541;
			line-height:30px;
			margin:0 2px 2px 0;
			.ks {
				background:#00A651;
				color:#fff;
				text-align:center;
				border:1px solid #008541;
				position:absolute;
				top:0;
				left:0;
				padding:2px 5px;
				line-height:13px;
				.radius(10px);
			}
			div.img_round {
				width:40px;
				height:40px;
				overflow:hidden;
				.radius(20px);
				background:#fff;
				float:left;
				margin-right:5px;
			}
			.name {
				color:#001505;
				font-weight:500;
				font-size:13px;
			}
			.price {
				color:#fff;
				display:block;
				line-height:2px;
				font-weight:bold;
			}
			.remove {
				cursor:pointer;
				right:4px;
				top:0;
				bottom:0;
				margin:auto;
				width:21px;
				height:21px;
				position:absolute;
				background:transparent url('/css/chachar/ico_remove_basket.png') no-repeat center center;
			}
			
		}
	}
	.total_price {
		position:absolute;
		top:2px;
		right:150px;
		color:#fff;
	}
}

.basket_content {
	position:relative;
	margin-bottom:10px;
	#products_list {
		div.done {
			&.icon-arrow {
				&:before {
					top:10%;
				}
				.ico {
					bottom:auto;
					top:102px;
				}
			}
		}
		.item {
			height:329px;
		}
		.title {
			height:auto;
		}
		.description {
			display:block;
			height:auto;
		}
	}
	h2:not(.title) {
		font-weight:bold;
		font-size:17px;
		margin:0;
		padding:0;
		width:300px;
		text-transform:none;
		display:inline-block;
		&.big {
			font-size:20px;
			line-height:17px;
			display:block;
			width:100%;
			text-align:center;
			margin:15px 0 25px;
		}
	}
	#credit_use_element {
		width:80%;
		margin:auto;
		strong {
			display:block;
		}
		.col {
			text-align:center;
		}
		.pocet {
			font-size:50px;
			font-weight:bold;
			
		}
		.pocet_desc {
			font-weight:bold;
			position:relative;
			top:-7px;
			left:5px;
		}
		#credit_use {
			width:70px;
			.noselect();
			display:inline-block;
		}
		span {
			color:#30a651;
			&.red {
				color:#ED1C24;
			}
		}
		span.relative {
			top:-7px;
		}
		span.pocet_change {
			position:absolute;
			background:#ED1C24;
			.noselect();
			z-index:100;
			width:20px;
			height:20px;
			cursor:pointer;
			line-height:20px;
			text-align:center;
			left:-30px;
			color:#fff;
			.radius(10px);
			font-size:15px;
			&.plus {
				top:-15px;
			}
			&.minus {
				bottom:-15px;
			}
		}
	}
	
	.total_price_txt {
		font-size:14px;
		font-weight:bold;
		margin:10px 0;
		line-height:34px;
		.text_right {
			line-height:44px;
		}
		span {
			top:3px;
			position:relative;
			.price_size();
		}
	}
	.scroll_but {
		border:1px solid #ccc;
		display:inline-block;
		
		display:none;
		.radius(20px);
		padding:10px;
		color:#000;
		text-decoration:none;
		font-weight:bold;
	}
	.basket_line {
		border-bottom:1px solid #ccc;
		width:100%;
		margin:10px 0;
	}
	background:#fff;
	padding:10px;
	
}

.price_size(){
	font-size:30px;
	line-height:34px;
	
	color:#009F43;
	font-weight:bold;		
}
#basket_product_table {
	width:100%;
	margin:0;
	padding:0;
	&.preloader {
		background:rgba(255,255,255,0.6) url('/css/validation/var_preload.svg') no-repeat center center;
		min-height:80px;
	}
	
	li {
		list-style-type:none;
		border-bottom:1px solid #ccc;
		padding:5px 0;
	}
	
	.img_round {
		padding:0;
		overflow:hidden;
		div.img {
			width:100%;
			height:80px;
			margin:auto;
		}
		
		&.pizza_true{
			/*background: #fff url('/css/chachar/talir.jpg') no-repeat center center;*/
			/*background-size:contain;
			div.img {
				position:relative;
				top:-13px;
			}			
			*/
			div.img {
				background-size:74%;
				background-position:center center;
			}
			@media (min-width : 1500px) {

			div.img {
				background-size:74%;
				background-position:center center;
			}
			}
		}
			
	}
	div.itm {
		display:inline-block;
		vertical-align:top;
		.itm_title {
			font-weight:normal;
			color:#848484;
			font-size:11px;
			height:28px;
			line-height:13px;
			&.strong {
				font-weight:bold;
			}
		}
		&.img {
			width:170px;
		}
		.name {
			font-size:15px;
			font-weight:bold;
					
		}
		.number {
			font-size:14px;
			color:#00A046;
		}
		.change_ks {
			height:35px;
		}
		.strong {
			font-weight:bold;
		}
		.total_price {
			
			.price_size();
		}
		.pridavky_text_list {
			font-size:11px;
			width:50%;
			p {
				color:#848484;
				margin:5px 0 3px;
			}
			ul {
				padding:0;
				margin:0;
					
				li {
					padding:0;
					margin:0;
					border:0;
					color:#009F43;
					font-weight:bold;
					span {
						float:right;
						color:#666;
					}
				}
			}
		}
	}
	
	
	.change_ks {
		width:35px;
		padding:0px 3px;
		text-align:center;
	}
	.delete_basket {
		width:45px;
		height:45px;
		display:inline-block;
		background:transparent url('/css/chachar/b_close.svg') no-repeat center center;
		&:hover {
			background:transparent url('/css/chachar/b_close_hover.svg') no-repeat center center;

		}
	}
}

#price_slider_element {
	text-align:center;
	margin-bottom:20px;
	#price_slider_from {
		margin-right:10px;
	}
	#price_slider_to {
		margin-left:10px;
	}
	.slider-handle {
		cursor:e-resize;
	}
}

#search_products {
	position:relative;
}

#filtration {
	margin-bottom:10px;
}

.basket_detail_total_price {
	font-size:15px;
}
#basket_detail {
	.field_button {
		display:none;
	}
	#products_list {
		padding-bottom:10px;
	}
	.reg_field {
		&.size {
			max-width:100%;
		}
	}
	fieldset {
		margin-top:10px;
		h2 {
			margin-top:0;
		}
		legend {
			border:0;
			font-size:30px;
			margin-bottom:5px;
		}
		.row {
			margin-bottom:2px;
			.col {
				padding-left:0;
			}
		}
	}
	
	.table_doprava {
		width:100%;
		tr {
			td:first-child {
				width:30px;
			}
		}
		.fst_radio();
	}
}
/* */
.shop_nav {
	li {
		position:relative;
		li {
			padding-left:10px;
		}
		.active {
			color:#ff0000;
			
		}
		.fa-caret-up,.fa-caret-down {
			position:absolute;
			right:5px;
			top:12px;
			z-index:10;
			cursor:pointer;
			@size: 20px;
			height:@size;
			width:@size;
			line-height:@size;
			text-align:center;
			border:1px solid red;
		}
		.fa-caret-up {
			line-height:15px;
		}
	}
}

.transform(@value){
	transform: @value;
	-ms-transform: @value;
	-o-transform: @value;
	-webkit-transform: @value;
}
.paprika {
			color:#ED333B;
			padding-left:20px;
			text-align:center;
			position:absolute;
			top:-29px;
			left:0;
			right:0;
			margin:auto;
			span {
				width:15px;
				height:15px;
				display:inline-block;
			}
			&.pap1 span{
				background:transparent url('/css/chachar/hot/hot1.svg') no-repeat left center;
			}
			&.pap2 span {
				background:transparent url('/css/chachar/hot/hot2.svg') no-repeat left center;
			}
		}

#noresult {
	background:#ED1C24;
	width:100%;
	color:#fff;
	border:1px solid #fff;
	margin:5px 0;
	padding:10px;
	text-align:center;
}
#products_table {
	tr {
		td {
			vertical-align:middle;
			div.image {
				width:30px;
				height:30px;
			}
		}
	}
	div.input.text {
		display:inline-block;
		vertical-align:middle;
	}
	.btn {
		vertical-align:middle;
	}
	.addBasket_ks {
		width:50px;
		text-align:center;
		margin-right:5px;
	}
}


	.product_item {
		&.item211 {
		}
		.item {
			&.item211 {
				background-color:#EB1B2C;
				.title,.description ,.favorite{
					display:none;
				}
				.image {
					width:100%;
					height:303px;
					padding:0;
				}
				.img {
					background-color:#EB1B2C;
					background-position: center center !important;
					background-size:auto 100%;
					position:absolute;
					top:0%;
					left:0%;
					width:100%;
					height:100%;
				}
				.varianta_list_item {
					border-color:#F26369;
				}
				.varianta_list_select {
					background-color:#EB1B2C;
					color:#fff;
					font-size:18px;
					padding-top:22px;
					
					height:72px;
					&:hover {
						background-color:#c11b20;
						
					}
					
				}
			}
			
			&.akce {
				background-color: transparent !important;
				box-shadow: none !important;
				-webkit-box-shadow: none !important;
				-moz-box-shadow: none !important;
				text-align:center;
				.txt {
					
					font-size:15px;    
					padding:10px;
				}
				.flip { 
					height:100%;
					&.front {
						width:100%;
						background:#00a651 url('/css/akce/akce.jpg') no-repeat center bottom;
						background-size:contain;
						
					}
					&.back {
						position:relative;
						
						width:100%;
						background:#E20C18 url('/css/akce/akce_back.jpg') no-repeat center bottom;
						background-size:contain;
						a {
							position:absolute;
							top:0;
							left:0;
							width:100%;
							height:100%;
						}
					}
				}
			}
			&.akce2 {
				background-color: transparent !important;
				box-shadow: none !important;
				-webkit-box-shadow: none !important;
				-moz-box-shadow: none !important;
				text-align:center;
				.txt {
					
					font-size:15px;    
					padding:10px;
				}
				.flip { 
					height:100%;
					&.front {
						width:100%;
						background:#E60B1B url('/css/akce/akce_cola_3.jpg') no-repeat center center;
						background-size:contain;
						
					}
					&.back {
						position:relative;
						
						width:100%;
						background:#E60B1B url('/css/akce/akce_back.jpg') no-repeat center center;
						background-size:contain;
						a {
							position:absolute;
							top:0;
							left:0;
							width:100%;
							height:100%;
						}
					}
				}
			}
			background:#fff;
			margin:5px;
			height:392px;
			position:relative;
			&.nofoto {
				.image {
					display:none;
				}
				height:214px;
				padding-top:5px;
				p.description {
					margin-bottom:2px;
				}
			}
			.transition(0.2s);
			.box-shadow(#ccc 0px 0px 16px);
			@media (min-width : 1000px){
				 
				&:not(.akce) {
				&:hover {
					
					.transition(0.2s);
					/*.box-shadow(#ccc 0px 0px 16px);*/
					/*.scale(1.1);*/
					z-index:10;
				}
				}
			}
		}
		border:0px solid #ccc;
		position:relative;
		padding:2px;
		.plus_credit {
			color:#fff;
			background:#ED1C24;
			padding:0 8px;
			.radius(10px);
			position:absolute;
			top:30px;
			left:5px;
			
		}
		.favorite {
			position:absolute;
			top:5px;
			left:5px;
			width:20px;
			height:20px;
			cursor:pointer;
			border:0px solid red;
			background:transparent url('/css/chachar/heart02.svg') no-repeat center center;
			&.active {
				background:transparent url('/css/chachar/heart01.svg') no-repeat center center;
			
			}
		}
		
		.inner {
			background:#fff;
			padding:10px;
		}
		.link {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			z-index:10;
		}
		h2 {
			text-align:center;
			font-size:20px;
			color:#010000;
			height:50px;
			padding:0 5px;
			margin-top:10px;
			.noselect();
			&.small {
				font-size:18px;
			}
			span {
				font-size:19px;
				color:#00A651;
			}
		}
		p.description {
			color:#6B6B6B;
			text-align:center;
			height:53px;
			padding:0 5px;
			font-size:12px;
			.noselect();
		}
		div.price {
			text-align:right;
		}
		div.desc {
			height:30px;
			overflow:hidden;
		}
		div.hot {
			position:absolute;
			top:28px;
			left:1px;
			width:25px;
			height:25px;
			border:0px solid red;
			background:transparent url('/css/chachar/ico_hot.svg') no-repeat center center;
		}
		div.image {
			
			height:180px;
			width:80%; 
			margin:auto;
			background:#fff;
			border:0px solid #ccc;
			position:relative;
			text-align:center;
			padding:3% 1% 3% 1%;
			&.imageGroup10 {
				div.img {
					background-position:center -7px;
					background-size:127% auto;
				}
			}
			&.pizza {
				background: #fff url('/css/chachar/talir.jpg') no-repeat center center;
				background-size:contain;
				top:7px;
				div.img {
					position:relative;
					top:-32px;
				}
			}
			&.noimg {
				background:#fff;
				div.img {
					top:0;
				}
			}
			&.spec_size {
				/*
				.img {
					background-size:151% auto;
					background-position:center -20px;
				}
				*/
			}
			&.spec_size2 {
				/*
				.img {
					background-size:116% auto;
					background-position:center -20px;
				}
				*/
			}
			&.spec_size3 {
				/*
				.img {
					background-size:100% auto;
					background-position:center -20px;
				}
				*/
			}
			
			a {
				display:inline-block;
				position:relative;
				height:100%;
				width:100%;
			}
		}
		a.link {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			z-index:100;
		}
		div.preloader {
			&.active {
				width:100%;
				height:100%;
				background:rgba(255,255,255,0.6) url('/css/validation/var_preload.svg') no-repeat center center;
				left:0;
				top:0;
				z-index:10;
				position:absolute;
				
			}
		}
		div.done {
			display:none;
			.ico {
				display:none;
			}
			&.icon-arrow {
				
				display:block;
				.ico {
					display:block;
					background:transparent url('/css/chachar/footer_basket.png') no-repeat center top;
					padding-top:60px;
					color:#fff;
					text-align:center;
					font-size:19px;
					height:50px;
					bottom:0;
					top:0;
					left:0;
					right:0;
					margin:auto;
					position:absolute;
					font-weight:bold;
				}
				width:100%;
				height:100%;
				position:absolute;
				top:0;
				left:0;
				text-align:center;
				background:#00A651;
				z-index:10;
				
					&:before {
						position:absolute;
						top:26%;
						left:0;
						right:0;
						height:90px;
						color:#fff;
						font-size:50px;
					}
				
			}
			
			.continue_kosik {
				width:100%;
				height:90px;
				padding-top:10px;
				z-index:1000;
				text-align:center;
				position:absolute;
				bottom:38px;
				left:0;
				.btn {
					margin:0 1px;
					display:inline-block;
				}
				.white {
					background:#fff;
					border-color:#fff;
					color:#00A651;
					&:hover {
						color:#E20C18 !important;
					}
				}
				.red {
					margin-bottom:5px;
					&:hover {
						background:#fff;
						border-color:#fff;
						color:#E20C18 !important;
					}
				}
			}

		}
		div.basket_add_el {
			text-align:right;
			div.text {
				display:inline-block;
				vertical-align:top;
			}
			input.addBasket_ks {
				width:40px;
				text-align:center;
				
			}
			
			button.none {
				display:none !important;
			}
			
			.varianta_list_item {
				width:100%;
				position:relative;
				text-align:center;
				padding:0;
				margin:18px auto 0px;
				background:#fff;
				border-top:1px solid #ccc;
				white-space:nowrap;
				&.preloader {
					background:transparent url('/css/validation/var_preload.svg') no-repeat center center;
					li {
						.opacity(20);
					}
				}
				li {
					.noselect();
					vertical-align:top;
					min-height:30px;
					text-align:left;
					padding:5px 10px;
					cursor:pointer;
					width:50%;
					display:inline-block;
					border-right:1px solid #ccc;
					line-height:30px;
					list-style-type:none;
					clear:both;
					font-weight:normal;
					text-align:center;
					
					&.full {
						width:100%;
					}
					&:last-child {
						border-right:0;
					}
					&:hover {
						background:#00A651;
						color:#fff;
						.title {
							color:#fff;
						}
					}
					
					&.title {
						
						font-weight:bold;
						cursor:auto;
						&:hover {
							background:#fff;
						}
						.fa-close {
							margin:5px 2px 0 0;
							float:right;
							cursor:pointer;
							&:before {
								font-size:20px;
							}
						}
					}
					span.title {
						pointer-events:none;
						display:block;
						color:#00A651;
						font-size:15px;
						text-decoration:underline;
						&.large {
							font-size:20px;
						}
					}
					.price {
						float:right;
						pointer-events:none;
					}
					
				}
			}
			button.btn {
				vertical-align:top;
				display:inline-block;
				
				&.fa-check {
					position:relative;
					color: transparent !important;
					&::before {
						text-align:center;
						position:absolute;
						left:0;
						right:0;
						margin:auto;
						color:#000;
					}
				} 
			}
		}
	}
.product_item {	
	.new_item {
		div.img {
			&:not(.preloader){
				background-position:center 24px;
			}
		}

		/* stripsy */
		
		&.stripsy  {
			width:100% !important;
			padding:0 !important;
			top:0 !important;
			div.img { 
				&:not(.preloader) {
					/*background-size:150% auto !important; */
					background-size:auto 100% !important; 
					background-position:center top 0px !important; 
				}
			}
		}
		&.stripsy2  {
			width:100% !important;
			padding:0 !important;
			top:0 !important;
			div.img {
				&:not(.preloader) {
					/*
					background-size:110% auto !important; 
					background-position:center top -3px !important; 
					*/
					background-size:auto 100% !important;  
					background-position:center center !important;
				
				}
			}
		}
		&.stripsy2a  {
			div.img {
				&:not(.preloader) {
					/*
					background-size:110% auto !important;  
					background-position:center top 20px !important;  
					*/
					background-size:auto 100% !important;  
					background-position:center center !important;
				
				}
			}
		}
		/* burger */
		&.burger,&.imageGroup11   {
			width:100% !important;
			padding:0 !important;
			top:0 !important;
			div.img {
				&:not(.preloader) {
					/*background-size:114% auto !important; 
					
					background-position:center top -15px !important;
					*/
					background-size:auto 100% !important;  
					background-position:center center !important;
				}
			}
		}
		/* cina */
		&.cina{
			width:100% !important;
			padding:0 !important;
			top:0 !important;
			div.img {
				&:not(.preloader) {
					/*
					background-size:114% auto !important; 
					background-position:center top -34px !important; 
					*/
					background-size:auto 100% !important; 
					background-position:center center !important; 
					
				}
			}
		}
		&.cola {
			div.img {
				&:not(.preloader) {
					background-size:117% auto !important; 
					background-position:center top 0px !important; 
				}
			}
		}
		&.donuty {
			div.img {
				&:not(.preloader) {
					background-size:96% auto !important; 
					background-position:center top -1px !important; 
				}
			}
		}
		&.specle {
			div.img {
				&:not(.preloader) {
					/*background-size:149% auto !important; 
					background-position:center top -35px !important;
					*/
					background-size:auto 100% !important; 
					background-position:center center !important;
					 
				}
			}
		}
		&.napoje {
			div.img {
				&:not(.preloader) {
					/*background-size:110% auto !important;*/ 
					background-size:auto 100% !important; 
					background-position:center top -4px !important; 
				}
			}
		}
		&.salat {
			width:100% !important;
			padding:0 !important;
			div.img {
				&:not(.preloader) {
					background-size:157% auto !important; 
					background-position:center top -10px !important; 
				}
			}
		}
		/* pizza */
		&.pizza {
			width:100% !important;
			padding:0 !important;
			top:0 !important;
			background:none !important;
			div.img {
				&:not(.preloader) {
					top:0 !important;
					/*
					background-size:200% !important;
					background-position:left 80px bottom 2px !important;
					*/
					background-size:auto 100% !important;  
					background-position:center right !important;

				}
			}
		}
		&.new_pizza {
			width:100% !important;
			padding:0 !important;
			top:0 !important;
			background:none !important;
			div.img {
				&:not(.preloader) {
					top:0 !important;
					/*
					background-size:180% !important;
					background-position:right 108% top -122px !important;
					*/
					background-size: 100% 100%!important;  
					background-position:right center !important;

				}
				
			}
			
		}
}
}

@media (min-width : 1000px) and (max-width : 1600px) {
	.product_item {	
		.new_item {
			/* stripsy */
			&.stripsy  {
				width:100% !important;
				padding:0 !important;
				top:0 !important;
				div.img {
					&:not(.preloader) {
						/*background-size:190% auto !important; */
						background-size:auto 100% !important; 
						background-position:center top 0px !important; 
					}
				}
			}
			&.stripsy2  {
				width:100% !important;
				padding:0 !important;
				top:0 !important;
				div.img {
					&:not(.preloader) {
						/*
						background-size:125% auto !important; 
						background-position:center top 34px !important;  
						*/
						background-size:auto 100% !important;  
						background-position:center center !important;
				
					}
				}
			}
			&.burger,&.imageGroup11 {
				width:100% !important;
				padding:0 !important;
				top:0 !important;
				div.img {
					&:not(.preloader) {
						/*background-size:149% auto !important; 
						
						background-position:center top 0px !important;*/
						background-size:auto 100% !important; 
					
						background-position:center center !important; 
					}
				}
			}
			&.cina {
				width:100% !important;
				padding:0 !important;
				top:0 !important;
				div.img {
					&:not(.preloader) {
						/*
						background-size:149% auto !important; 
						background-position:center top -28px !important; 
						*/
						background-size:auto 100% !important; 
						background-position:center center !important; 
					
					}
				}
			}
			&.cola {
				width:100% !important;
				padding:0 !important;
				top:0 !important;
				div.img {
					&:not(.preloader) {
						background-size:149% auto !important; 
						background-position:center top 0px !important; 
					}
				}
			}
			&.donuty {
				div.img {
					&:not(.preloader) {
						background-size:128% auto !important; 
						background-position:center top -1px !important; 
					}
				}
			}
			&.specle {
				div.img {
					&:not(.preloader) {
						/*background-size:178% auto !important; 
						background-position:center top -14px !important;
						*/
						background-size:auto 100% !important; 
						background-position:center center !important;
					
						 
					}
				}
			}
			&.salat {
				
				div.img {
					&:not(.preloader) {
						background-size: auto 100% !important;
						background-position: center center !important;
					}
				}
			}
			&.napoje {
				div.img {
					&:not(.preloader) {
						/*background-size:185% auto !important; */
						background-size:auto 100%  !important; 
						background-position:center top 0px !important; 
					}
				}
			}
			&.pizza {
				div.img {
					&:not(.preloader) {
						top:0 !important;
						/*
						background-size:220% !important;
						background-position:left 50px bottom 0px !important;
						*/
						background-size:auto 100% !important;  
						background-position:right center !important;

					}
				}
			}
			&.new_pizza {
				div.img {
					&:not(.preloader) {
						top:0 !important;
						/*
						background-size:180% !important;
						background-position:right 103% top -37px !important;
						*/
						background-size:100% 100% !important;  
						background-position:right center !important;

					}
				}
			}
		}
	}
}
@media (min-width : 300px) and (max-width : 600px) {
	.product_item {	
		.new_item {
			/* stripsy */
			&.stripsy  {
				width:100% !important;
				padding:0 !important;
				top:0 !important;
				div.img {
					&:not(.preloader) {
						/*background-size:156% auto !important; */
						background-size:auto 100% !important; 
						background-position:center top 0px !important; 
					}
				}
			}
			&.stripsy2  {
				width:100% !important;
				padding:0 !important;
				top:0 !important;
				div.img {
					&:not(.preloader) {
						/*
						background-size:125% auto !important; 
						background-position:center top -15px !important; 
						*/
						background-size:auto 100% !important;  
						background-position:center center !important;
				
					}
				}
			}
			&.imageGroup11 {
				width:100% !important;
				padding:0 !important;
				top:0 !important;
				div.img {
					&:not(.preloader) {
						/*background-size:136% auto !important; 
						
						background-position:center top 0px !important;*/
						background-size:auto 100% !important; 
					
						background-position:center center !important; 
					}
				}
			}
			&.cina {
				width:100% !important;
				padding:0 !important;
				top:0 !important;
				div.img {
					&:not(.preloader) {
						/*
						background-size:136% auto !important; 
						background-position:center top -33px !important; 
						*/
						background-size:auto 100% !important; 
						background-position:center center !important; 
					
					}
				}
			}
			&.burger {
				width:100% !important;
				padding:0 !important;
				top:0 !important;
				div.img {
					&:not(.preloader) {
						/*
						background-size:136% auto !important; 
						background-position:center top -18px !important; 
						*/
						background-size:auto 100% !important;  
						background-position:center center !important;
				
					}
				}
			}
			&.cola {
				width:100% !important;
				padding:0 !important;
				top:0 !important;
				div.img {
					&:not(.preloader) {
						background-size:123% auto !important; 
						background-position:center top 0px !important; 
					}
				}
			}
			&.specle {
				div.img {
					&:not(.preloader) {
						/*background-size:178% auto !important; 
						background-position:center top -14px !important;
						*/
						background-size:auto 100% !important; 
						background-position:center center !important; 
					}
				}
			}
			
			&.donuty {
				div.img {
					&:not(.preloader) {
						background-size:120% auto !important; 
						background-position:center top -1px !important; 
					}
				}
			}
			&.salat {
				width:100% !important;
				padding:0 !important;
				div.img {
					&:not(.preloader) {
						background-size: auto 100% !important;
						background-position: center center !important;
					}
				}
			}
			&.pizza {
				div.img {
					&:not(.preloader) {
						top:0 !important;
						/*
						background-size:170% !important;
						background-position:left 70px bottom 25px !important;
						*/
						background-size:auto 100% !important;  
						background-position:right center !important;

					}
				}
			}
			&.new_pizza {
				div.img {
					&:not(.preloader) {
						top:0 !important;
						/*
						background-size:180% !important;
						background-position:right 98% top 37% !important;
						*/
						background-size:100% 100% !important;  
						background-position:right center !important;

					}
				}
			}
		}
	}
}

#product_detail {
	.description {
		margin-top:20px;
	}
	#add_cart {
		div.input.text {
			display:inline-block;
			vertical-align:middle;
			margin-right:10px;
			.addBasket_ks {
				width:50px;
			}
		}
	}
	#other_imgs_slider {
		position:relative;
		background:#fff;
		padding:10px;
		margin-top:10px;
		width:100%;
		border:0px solid red;
		overflow:hidden;
		height:150px;
		.slider_move {
			position:absolute;
			top:0%;
			padding-top:15%;
			z-index:100;
			cursor:pointer;
			height:100%;
			width:50px;
			&.fa-angle-left {
				left:3px;
				text-align:left;
				padding-left:2px;
			}
			&.fa-angle-right {
				right:3px;
				text-align:right;
				padding-right:2px;
			}
			&:before {
				font-size:30px;
				color:#666;
			}
		}
		
		.other_imgs {
			white-space:nowrap;
			a.link {
				width:130px;
				height:130px;
				display:inline-block;
				
			}
			
		}
	}
	.description_mobile {
		display:none;
	}
	.product_imgs {
		.solo_image {
			border:1px solid #ccc;
			padding:20px;
			background:#fff;
			height:400px;
			
		}
	}
	
}
div.img {
	background-repeat:no-repeat;
	background-position:center center;
	background-size:contain;
	border:0px solid red;
	width:100%;
	height:100%;
}

.modal_over {
	background:rgba(255,255,255,0.5);
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	
}
#pridavky_modal_all {
	#pridavky_modal{
		.opacity(100);
		.scale(1);
		.transition(0.5s);
	}
	.modal_over {
		.opacity(100);
		.transition(0.5s);
	}
	&.nonea {
		.modal_over {
			.opacity(0);
			pointer-events:none;
		}
		#pridavky_modal {
			.scale(0);
			.opacity(0);
		}
		
	}
		
}
#pridavky_modal {
	position:absolute;
	top:80px;
	left:0;
	width:100%;
	min-height:50%;
	background:#fff;
	
	.container {
		padding:1%;
		width:98%;
	}
	h2 {
		font-weight:600;
		margin-top:5px;
	}
	#variants_adopt {
		ul {
			margin:0 0 30px 0;
			padding:0;
			li {
				line-height:26px;
				list-style-type:none;
				font-weight:bold;
				.chbut {
					margin-left:5px;
					display:inline-block;
					font-size:26px;
					background:transparent;
					color:#00A651 !important;

					text-decoration:underline;
					&.grey {
						font-size:15px;
						color:#ccc !important;
						text-decoration:none;
					}
				}
			}
		}
	}
	.attribute_button {
		display:block;
		padding-top:30px;
		.chbut {
			font-size:26px;
			margin-bottom:15px;
			display:inline-block;
			font-weight:800;
			text-decoration:none;
			&.grey {
				text-decoration:underline;
			}
		}
	}
	#own_pizza {
		margin-top:10px;
		.sugo_list {
			margin:17px 0;
			padding:0;
			display:inline-block;
			li {
				list-style-type:none;
				display:inline-block;
				vertical-align:top;
				height:55px;
				line-height:20px;
				margin-right:3px;
				position:relative;
				span {
					display:inline-block;
					width:100px;
					line-height:24px;
					position:relative;
					padding:0 5px 0 25px;
					margin-right:65px;
					font-weight:bold;
					cursor:pointer;
					&:before {
						position:absolute;
						top:0px;
						left:0;
						content:'';
						width:20px;
						height:20px;
						border:1px solid #ccc;
						.radius(10px);
					}
					&:hover,&.active {
						background:#00a651;
						.radius(9px);
						color:#fff;
						&:before {
							font-family:'awesome';
							content:'\f00c';
							border:0;
							color:#fff;
							top:0px;
							left:5px;
						}
					}
					
					
				}
				&:after {
						position:absolute;
						top:-14px;
						right:0;
						content:'';
						width:60px;
						height:50px;
						border:0px solid #ccc;
						background:transparent url('/css/chachar/pridavky.jpg') no-repeat -6px -6px;
						
					}
			}
			
			&.omacka {
				.prid1 {&:after {background-position:1px -9px;}}
				.prid2 {&:after {background-position:-102px -9px;}}
				.prid3 {&:after {background-position:-207px -9px;}}
			}
			&.syr {
				.prid1 {&:after {background-position:2px -63px;}}
				.prid2 {&:after {background-position:-92px -63px;}}
				.prid3 {&:after {background-position:-202px -63px;}}
			}
		}
		label {
			width:120px;
			margin-bottom:3px;
			white-space:nowrap;
			display:block;
		}
		select {
			width:150px;
			margin-bottom:3px;
			.appearance();
			border:0px solid #ccc;
			padding:5px;
			background:#000;
			color:#fff;
			background: #000 url('/css/layout/select2.svg') no-repeat top right 5px;
			background-size:15px;
		}
	}
	#attribute_imgs {
		position:relative;
		width:93%;
		height:220px;
		border:0px solid red;
		/*background: #fff url('/css/chachar/talir.jpg') no-repeat center center;*/
		background-size:contain;
		div.img {
			position:relative;
			top:-3px;
			background-position:center top;
			.transition(0.2s);
			background-size:100% auto;
		}
		&.large {
			#prumer {	
			
				.transition(0.5s);
				background: transparent url('/css/chachar/velka.png') no-repeat center center;
			}
			div.img {
				margin:auto;
				width:95%;
				.transition(0.2s);
				background-size:105% auto;
			}
		}
		&.small {
			#prumer {	
				
				.transition(0.5s);
				background: transparent url('/css/chachar/mala.png') no-repeat center center;
			}
			div.img {
				margin:auto;
				width:85%;
				.transition(0.2s);
			}
		}
		#prumer {
			width:100%;
			height:131px;
			position:absolute;
			top:0;
			left:0;
			right:0;
			z-index:100;
			margin:auto;
			background-size:contain !important;
			
		}
	}
	#cara {
		width:153px;
		z-index:-1;
		height:158px;
		background: transparent url('/css/chachar/cara.png') no-repeat center center;
		position:absolute;
		bottom:31px;
		left:65px;
	}
	.atr_info {
		margin:34px 0;
		color:#8C8C8C;
		strong {
			display:block;
			span {
				color:#ED1C24;
			}
		}
	}
	.atr_price {
		margin-bottom:10px;
		position:relative;
		.title {
			font-weight:bold;
			display:block;
		}
		#attribute_price_total {
			color:#00A651;
			font-size:57px;
			font-weight:900;
			line-height:52px;
			&.anim {
				-ms-animation: fontSize 0.5s normal ; /* Chrome, Safari, Opera */
				-moz-animation: fontSize 0.5s normal ; /* Chrome, Safari, Opera */
				-webkit-animation: fontSize 0.5s normal ; /* Chrome, Safari, Opera */
				animation: fontSize 0.5s normal ;
		
			}
		}
		
		
		span.suf {
			color:#00A651;
			font-size:20px;
			font-weight:900;
			position:relative;
			top:-9px;
			left:5px;
		}
	}
	#attributes_list {
		display: grid;
			
		h2.group_title {
			font-size:16px;
			margin:10px 0;
		}
		.attributes_item {
			display:inline-block;
			vertical-align:top;
			&.group3 {
				position:relative;
			}
		}
		ul {
			padding:0;
			margin:0;
				
			li {
				line-height:25px;
				list-style-type:none;
				margin-bottom:1px;
				span {
					vertical-align:top;
					&.point {
						line-height:18px;
						.radius(10px);
						height:20px;
						width:20px;
						text-align:center;
						display:inline-block;
						cursor:pointer;
						.noselect();
						color:#fff;
						
					}
					&.plus {
						margin:2px 5px 0 0;
						background:#00A651;
					}
					&.minus {
						margin:2px 0 0 0px;
						background:#ED1C24;
					}
					&.name {
						font-weight:bold;
						width:56%;
						display:inline-block;
						.noselect();
						white-space:nowrap;
						overflow:hidden;
						
					}
					&.gramaz {
						color:#C2C2C2;
						display:inline-block;
						width:33px;
						.noselect();
					}
					&.count {
						display:inline-block;
						width:23px;
						text-align:center;
						margin-right:3px;
						.noselect();
						&.none {
							display:none;
						}
					}
					&.price {
						font-weight:bold;
						color:#00A651;
						.noselect();
					}
				}
				
				div.active {
					width:77%;
					display:inline-block;
					.radius(10px);
					
				}
				&.active_plus {
					margin-left:-30px;
					div.active {
						background:#00A651;
						margin-right:6px;
						span {
							color:#fff;
							&.name {
								width:52%;
							}
							
						
						}
					}
				}
				&.active_minus {
					margin-left:-28px;
					div.active {	
						background:#ED1C24;
						margin-right:6px;
						span {
							color:#fff;
							&.name {
								width:52%;
							}
						}
					}
				}
			}
		}
	}
	
	#pridavky_modal_close {
		width:39px;
		height:36px;
		position:absolute;
		top:15px;
		right:15px;
		cursor:pointer;
		background:transparent url('/css/chachar/close.png') no-repeat center center;
	}
	
}
/* Standard syntax */
@keyframes fontSize {
	0 {font-size: 57px;}
	50% {font-size: 67px;}
	100% {font-size: 57px;}
}
#pridavky_modal_in {
	width:97%;
	min-height:300px;
	margin:auto;
	position:relative;
	&.preloader {
		height:100%;
		background:transparent url('/css/validation/var_preload.svg') no-repeat center center;
	}
	.paprika {
		position:relative;
		top:auto;
		left:auto;
		padding-left:0;
		text-align:left;
	}
}
.cat_scroll {
	float:left;
	border:0px solid red;
}

#subcats,#subcats_tmp {
	width:100%;
	background:#fff;
	margin:0 auto 10px;
	padding:0;
	min-height:31px;
	li {
		display:inline-block;
		list-style-type:none;
		border-right:1px solid #F2F2F2;
		line-height:30px;
		padding:0 10px;
		cursor:pointer;
		font-weight:bold;
		.noselect();
		&.fotos {
			background:#00a651;
			padding:0;
			div.switch_fotos {
				width:50%;
				display:inline-block;
				color:#fff;
				font-weight:normal;
				vertical-align:top;
				font-size:11px;
				line-height:15px;
				text-align:center;
				&.active {
					background:#ed1c24;
				}
				span {
					display:block;
					pointer-events:none;
					width:61px;
					height:45px;
					background:transparent url('/css/chachar/foto_nofoto.png') no-repeat left center;
					margin:auto;
				}
				&.nofoto {
					span {
						background-position:right center;
					}
				}
			}
		}
		&:last-child {
			border-right:0;
			
		}
		&.active,&:hover {
			color:#fff;
			background:#00A651;
			.transition(0.2s);
		}
	}
}
#subcats {
	margin-top:9px;
	border-bottom:1px solid #fff !important;
}
#subcats_tmp {
}
.add_to_basket {
	display:none !important;
	
}
#spropitne_list {
	text-align:center;
	margin:50px 0 10px;
	padding:0;
	h2 {
		width:100%;
		margin-bottom:15px;
	}
	li {
		margin:0 10px;
		display:inline-block;
		vertical-align:top;
		list-style-type:none;
		position:relative;
		width:100px;
		height:77px;
		a {
			position:absolute;
			top:0;
			left:0;
			padding-top:56px;
			width:100%;
		}
		div.price {
			.price_size();
			font-size:50px;
			margin-bottom:5px;
			text-decoration:none !important;
		}
		&:hover,&.active {
			color:#E20C18;
			div.price {
				color:#E20C18;
			}
			a {
				color:#E20C18;
			}
		}
		
	}
}
#scroll-sumace {
	p {
		text-align:center;
		font-size:25px;
	}
	.shop_basket_total_price_vat {
		margin-left:10px;
		.price_size();
	}
}


#payment_video {
	position:absolute;
	top:60px;
	left:0;
	width:100%;
	height:100%;
	background:#fff;
	font-size:20px;
	text-align:center;
	line-height:300px;
	z-index:100;
	padding-top:50px;
}
#payment_list {
	text-align:center;
	margin:0;
	padding:0;
	li {
		&.in_active {
			a {
				background:#BFBFBF ;
				border-color:#BFBFBF !important;
			}
			.ico {
				.opacity(20);
			}
		}
		display:inline-block;
		width:250px;
		
		list-style-type:none;
		a.active {
			background:#30a651;
		}
		.ico {
			width:100px;
			height:100px;
			display:block;
			margin:auto;
			
			&.ico2 {
				background:transparent url('/css/chachar/platba1.png') no-repeat center center;
				background-size:contain;
			}
			&.ico1 {
				background:transparent url('/css/chachar/platba2.png') no-repeat center center;
				background-size:contain;
			}
			&.ico3 {
				background:transparent url('/css/chachar/platba3.png') no-repeat center center;
				background-size:contain;
			}
		}
	}
}

.basket_done {
	text-align:center;
	.ico {
		width:512px;
		height:304px;
		background:transparent url('/css/chachar/basket_done.png') no-repeat center center;
		margin:auto;
		&.spokojenost {
			background:transparent url('/css/chachar/ico_spokojenost.png') no-repeat center center;
			
		}
	}
	strong.title {
		font-size:45px;
		color:#00A550;
		margin-bottom:20px;
		display:block;
		&.alert {
			color:#E20C18;
		}
	}
	p {
		font-weight:500;
		font-size:15px;
		margin-bottom:10px; 
		&.small {
			color:#666;
			font-size:12px;
			margin-bottom:5px;
		}
		&.bold {
			font-weight:bold;
		}
	}
	
}

#basket_login {
	position:absolute;
	top:0;
	z-index:100;
	left:0;
	z-index:0;
	padding-top:10px;
	background:#F6F6F6 url('/css/chachar/bg.jpg');
	width:100%;
	z-index:1;
	padding-bottom:50px;
	/*height:100%;*/
	text-align:center;
	.ico {
		width:445px;
		height:296px;
		background:transparent url('/css/chachar/basket_login.png') no-repeat center center;
		margin:auto;
	}
	strong.title {
		font-size:45px;
		color:#E20C18;
		margin-bottom:20px;
		display:block;
	}
	p {
		font-weight:500;
		font-size:15px;
		margin-bottom:15px;
	}
	span {
		color:#E20C18;
		margin-top:5px;
		display:block;
	}
	.row {
		.first {
			text-align:right;
		}
		.middle {
		}
		.last {
			text-align:left;
		}
	}
	.btn {
		margin:5px 0;
	}
	
}
a.btn.btn-green {
	background:#00A651;		 
	border-color:#00A651;
	padding:10px 25px;
	&:hover {
		background:#E20C18;
		border-color:#E20C18;
	}
}
a.btn.btn-primary {
	
	padding:10px 25px;
}
a.btn.btn-white {
	background:transparent !important;		
	border-color:#ccc;
	color:#000 !important;
	padding:10px 25px;
	&:hover {
		background:#E20C18;
		border-color:#E20C18;
	}
}

#spokojenost_form {
	max-width:320px;
	margin:auto;
}

#provoz_disable_online {
	position:fixed;
	bottom:54px;
	left:0;
	background:#ED1C24; 
	color:#fff;
	width:100%;
	margin:auto;
	left:0;
	right:0;
	text-align:center;
	font-size:11px;
	z-index:10;
	padding:5px 0 15px;
	z-index:101;
}


#intro {
	.product_item {
		.item {
			height:320px;
			h2 {
				height:22px;
			}
			p.description {
				height:30px;
			}
			&:hover {
				span.title {
					color:#ff0000;
				}
			}
			div.image {
				width:100%;
			}
			.new_item {
				&.pizza{
					div.img {
						&:not(.preloader) {
							/*
							background-size:100% auto !important;
							background-position:center bottom -12px !important; 
							*/
							background-size:auto 100% !important;  
							background-position:center center !important;

						}
						/*
						@media (min-width : 1000px) and (max-width : 1600px) {
							&:not(.preloader) {
								background-size:129% auto !important;
								background-position:center bottom -12px !important;  
							}
						}
						*/
						@media (min-width : 320px) and (max-width : 1000px) {
							&:not(.preloader) {
							background-size:100% auto !important;  
							background-position:center center !important;
	}
						}
						
					}
				}
				&.burger{
					div.img {
						&:not(.preloader) {
							/*background-position:center top 5px !important; */
							background-position:center center !important;
				
						}
						/*
						@media (min-width : 1000px) and (max-width : 1600px) {
							&:not(.preloader) {
								background-position:center top 0px !important; 
							}
						}
						@media (min-width : 320px) and (max-width : 1000px) {
							&:not(.preloader) {
								background-position:center top -7px !important; 
							}
						}
						*/
					}
				}
				&.cina{
					width:100% !important;
					padding:0 !important;
					top:0 !important;
					div.img {
						&:not(.preloader) {
							/*
							background-size:138% auto !important; 
							background-position:center top -39px !important; 
							*/
							background-size:auto 100% !important; 
							background-position:center center !important; 
					
						}
						/*
						@media (min-width : 1000px) and (max-width : 1600px) {
							&:not(.preloader) {
								background-size:178% auto !important; 
								background-position:center top -4px !important; 
							}
						}
						@media (min-width : 1000px) and (max-width : 1599px) {
							&:not(.preloader) {
								background-size:178% auto !important; 
								background-position:center top -44px !important; 
							}
						}
						@media (min-width : 320px) and (max-width : 1000px) {
							&:not(.preloader) {
								background-size:178% auto !important; 
								background-position:center top -69px !important; 
							}
						}
						*/
					}
				}
				&.salat{
					width:100% !important;
					padding:0 !important;
					top:0 !important;
					div.img {
						&:not(.preloader) {
							background-size: auto 100% !important;
							background-position: center center !important;
						}
						@media (min-width : 1000px) and (max-width : 1600px) {
							&:not(.preloader) {
								background-size: auto 100% !important;
								background-position: center center !important;
							}
						}
						@media (min-width : 320px) and (max-width : 1000px) {
							&:not(.preloader) {
								background-size: auto 100% !important;
								background-position: center center !important;
							}
						}
					}
				}
				&.specle{
					width:100% !important;
					padding:0 !important;
					top:0 !important;
					div.img {
						&:not(.preloader) {
							/*background-size:190% auto !important; 
							
							background-position:center top -30px !important; 
							*/
							background-size:auto 100% !important; 
					
							
							background-position:center center !important; 
						}
						/*
						@media (min-width : 1000px) and (max-width : 1600px) {
							&:not(.preloader) {
								background-size:217% auto !important; 
								background-position:center top -28px !important; 
							}
						}
						@media (min-width : 320px) and (max-width : 1000px) {
							&:not(.preloader) {
								background-size:207% auto !important; 
								background-position:center top -31px !important; 
							}
						}
						*/
					}
				}
				&.napoje {
					padding-bottom:0;
					div.img {
						&:not(.preloader) {
								background-position:center center !important; 
						
						}
						@media (min-width : 1000px) and (max-width : 1600px) {
							&:not(.preloader) {
								background-position:center center !important; 
							}
						}
					}
				}
			}
			
			
			/*
			.image {
				&.image3 {
					.img {
						background-position:center 13px;
					}
				}
				&.image2 {
					.img {
						background-position:center 8px;
					}
				}
			}
			*/
		}
		div.basket_add_el {
			.varianta_list_item {
				li {
					padding-top:13px;
				} 
			}
		}
	}
	/*
	.product_item .new_item.stripsy div.img:not(.preloader) {
		background-position:center top -12px !important;
	}
	*/
}

#user_orders {
	width:100%;
	tr {
		td,th {
			padding:5px;
		}
		&.detail {
			td {
				background:#e0fcde;
			}
		}
		&.odd {
			td {
				background:#fff;
			}
		}
		
		&:hover {
			td {
				background:#00A651;
				a {
					color:#fff;
				}
			}
		}
	}
}
#tooltip {
		position:fixed;
		top:118px;
		right:0px;
		color:#fff;
		background:#ed1c24;
		padding:5px;
		.radius(5px);
		z-index:10;
		span {
			width:60px;
			height:32px;
			position:absolute;
			bottom:-36px;
			left:0;
			background:transparent url('/css/chachar/login_sipka.png') no-repeat left bottom;
		}
}
#search_line {
	position:fixed;
	top:148px;
	right:0;
	background:#00A651;
	z-index:50;
	border:1px solid #fff;
	border-right:0;
	padding:10px 10px 10px 10px;
	.radius(10px 0 0 10px);
	white-space:nowrap;
	.transition_time(2s);
	&.close_side {
		.transition_time(2s);
		overflow:hidden;
		width:40px;
		
	}
	#resetFiltr {
		position:absolute; 
		top:25px;
		left:243px;
		width:20px;
		height:20px;
		cursor:pointer;
	}
	div.text {
		display:inline-block;
		width:64%;
		vertical-align:middle;
		input {
			height:37px;
			border:1px solid #fff;
		}
	}
	
	.btn {
		vertical-align:middle;
		display:inline-block;
		.radius(2px);
		position:relative;
		top:-2px;
		margin-left:5px;
	}
	span {
		height:50px;
		line-height:50px;
		cursor:pointer;
		margin-right:10px;
		vertical-align:middle;
	}
	span::before {
		color:#fff;
		font-size:20px;
	}
	
}
#scrollMobile {
	position:fixed;
	bottom:35px;
	right:5px;
	z-index:1000;
	.transition(0.5s);
	&.move {
		.transition(0.5s);
		bottom:40px;
	}
	&:before {
		font-size:25px;
	}
}

#scrollToTop {
	position:fixed;
	bottom:80px;
	z-index:100;
	cursor:pointer;
	right:10px;
	width:30px;
	height:30px;
	border:0px solid red;
	&:before {
		color:#000;
		font-size:30px;
	}
}

#map_orders {
	position:absolute;
	top:5px;
	right:0;
	left:0;
	width:80%;
	height:500px;
	margin:auto;
	background:#fff;
	z-index:100;
	&:before {
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:rgba(0,0,0,0.5);
		content:'';
	}
	.box-shadow(#ccc 0px 0px 10px);
	#map_canvas {
		width:100%;
		height:100%;
	}
	h2 {
		font-size:14px;
		color:#00A651;
		padding-left:20px;
		height:46px;
		margin:0;
		line-height:46px;
		background:#fff;
		position:relative;
	}
	#map_close {
		
		position:absolute;
		cursor:pointer;
		top:0px;
		right:0px;
		width:49px;
		height:46px;
		padding:10px;
		background:#fff url('/css/chachar/close.png') no-repeat center center;
	}
}
.gm_labels {
	background:#fff;
	color:#ff0000;
}
#h1 {
	position:fixed;
	top:-1000px;
	left:-1000px;
}
#products_list {
	&.hp {
		.varianta_list_item {
			width:79%;
		}
	}
}
.let18 {
	font-size:14px !important;
}
.doprava_desc {
	font-size:16px !important;
}
.doprava_desc2 {
	display:block; 
	font-size:13px !important;
	line-height:20px !important;
	top: -7px !important;
}

@-webkit-keyframes zoomOutDown {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2300px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2300px, 0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@-moz-keyframes zoomOutDown {
  40% {
    opacity: 1;
    -moz-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -moz-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  to {
    opacity: 0;
    -moz-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2300px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2300px, 0);
    -moz-transform-origin: center bottom;
    transform-origin: center bottom;
    -moz-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@-ms-keyframes zoomOutDown {
  40% {
    opacity: 1;
    -ms-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -ms-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  to {
    opacity: 0;
    -ms-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2300px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2300px, 0);
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    -ms-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomOutDown {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  to {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2300px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2300px, 0);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomOutDown {
  -webkit-animation-name: zoomOutDown;
  -moz-animation-name: zoomOutDown;
  -ms-animation-name: zoomOutDown;
  animation-name: zoomOutDown;
}

#addon {
	div.done {
		-webkit-animation-duration: 0.7s;
		-moz-animation-duration: 0.7s;
		-ms-animation-duration: 0.7s;
		-o-animation-duration: 0.7s;
		animation-duration: 0.7s;
		-webkit-animation-fill-mode: both;
		-moz-animation-fill-mode: both;
		-ms-animation-fill-mode: both;
		animation-fill-mode: both;
		
		
		.ico {
			display:none;
		}
		&.icon-arrow {
			
			display:block;
			.ico {
				display:block;
				background:transparent url('/css/chachar/footer_basket.png') no-repeat center top;
				padding-top:60px;
				color:#fff;
				text-align:center;
				font-size:19px;
				height:50px;
				bottom:0;
				top:0;
				left:0;
				right:0;
				margin:auto;
				position:absolute;
				font-weight:bold;
			}
			position:absolute;
			text-align:center;
			background:#00A651;
			z-index:9999;
			
				&:before {
					position:absolute;
					top:26%;
					left:0;
					right:0;
					height:90px;
					color:#fff;
					font-size:50px;
				}
			
		}
		
		.continue_kosik {
			width:100%;
			height:90px;
			padding-top:10px;
			z-index:1000;
			text-align:center;
			position:absolute;
			bottom:38px;
			left:0;
			.btn {
				margin:0 1px;
				display:inline-block;
			}
			.white {
				background:#fff;
				border-color:#fff;
				color:#00A651;
				&:hover {
					color:#E20C18 !important;
				}
			}
			.red {
				margin-bottom:5px;
				&:hover {
					background:#fff;
					border-color:#fff;
					color:#E20C18 !important;
				}
			}
		}

	}
}


.alergeny_info {
	font-size:10px;
	margin-top:20px;
	position:relative;
}
.fullLink {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

@media (max-width : 500px) {
	.paprika {
		color: #ed333b;
		padding-left: 20px;
		text-align: left;
		margin: 0 auto;
		position: unset !important;
	}
	.product_item p.description{
		min-height: 10px !important;
		height: auto !important;
	}
	.product_item h2{
		min-height: 10px !important;
		height: auto !important;
	}
	.product_item .item{
		min-height: 150px !important;
		height: auto !important;
	}


}