@import "../../../../webroot/css/global.less";
/*--- Mobile portrait ---*/

@media (max-width: 1000px) {
	#body.overflow { position: fixed; }
}

@media (min-width : 320px) and (max-width : 600px) {
	.table-responsive {
		display:block;
	}
	
		.txt_small {
			font-size:9px;
			span.title {
				font-size:13px !important;
			}
			span.title.large {
				font-size:14px !important;
			}
		}	
	#map_orders {
		top:116px;
		left:5px;
		right:auto;
		width:97%;
		#map_close {
			right:0px;
			z-index:100;
		}
	}
	#basket_napoj_mobile {
		display:none;
		&.show {
			display:block;
		}
	}
	div.input.number {
		&::after {
			display:none;
		}
		&::before {
			display:none;
		}
	}
	#tooltip {
		top:155px;
	}
	#search_line {
		top:190px;
		padding:10px 10px 10px 8px;
		#resetFiltr {
			left:210px;
		}
		&.close_side {
			width:28px;
			
		}
		span::before {
			font-size:15px;
		}
	}
	#basket_login{
		top:25px;
		.ico {
			display:none;
		}
		.row {
			.first {
				text-align:center;
			}
			.last {
				text-align:center;
			}
		}
	}
	.copyright {
		display:none;
	}
	
	
	#contents {
		position:relative;
		top:33px;
		&.pizza {
			top:40px;
		}
	}
	.basket_done {
		.ico {
			display:none;
		}
	}
	
	.bd-sidebar {
		margin-top:50px;
		clear:both;
	}
	#provoz_select_list {
		display:none;
	}
	#provoz_select_list_mobile {
		position:fixed;
		top:80px;
		left:0;
		margin:0;
		padding:0;
		width:100%;
		z-index:500;
		overflow-y:auto; 
		height:calc(100% -78px);
		border-bottom:2px solid #fff;
		&.close_mobile {
			height:30px;
			overflow:hidden;
		}
		li {
			list-style-type:none;
			padding:0 10px;
			background:#FFFFFF;
			border-bottom:1px solid #ccc;
			width:100%;
			line-height:30px;
			font-weight:bold;
			cursor:pointer;
			
			span {
				pointer-events:none;
			}
			a {
				text-decoration:none;
				color:#000;
				display:inline-block;
			}
			.mobile_name {
				width:40%;
				display:inline-block;
			}
			.tel {
				width:90px;
			}
			.doba {
				font-size:11px;
			}
			.selected {
				display:none;
			}
			&:hover,&.active {
				background:#00A651;
				color:#fff;
				a {
					color:#fff;
				}
			}
			&.active {
				position:fixed;
				top:80px;
				left:0;
				.selected {
					display:inline-block;
				}
			}
			&.first {
				padding:0 10px;
				background:#ED1C24;
				color:#fff;
				line-height:30px;
				.fa {
					position:absolute;
					top:8px;
					right:7px;
					&:before {
						color:#fff;
						text-align:center;
					}
				}
			}
		}
	}
	#products_list {
		/*margin-top:50px;*/
	}
	.product_item {
			div.image.pizza div.img {
				top:-20px;
			}
		
			.item {
				
				&.akce {
					height:200px;
				}
				div.image.spec_size div.img {
					background-size:190% auto;
				}
				div.image.spec_size2 div.img {
					background-position:center -4px;
				}
				div.image.spec_size3 div.img {
					background-position:center 10px;
				}
		
			}
	}
	#shop_navigace {
		position:fixed;
		top:50px;
		left:0;
		width:100%;
		/*background:#fff;*/
		z-index:1000;
		#shop_navbar {
			position:relative;
			margin:auto 15px;
			width:93%;
			top:-50px;
			background:#fff;
		}
		
		.icon-bar {
			background:#ccc;
		}
		.navbar-toggle {
			background:#666;
			margin-right:87px;
			top:-50px;
		}
	}
	#subcats_tmp {
		display:block !important;
		background:transparent;
	}
	
	#subcats {
		height:30px;
		overflow:hidden;
		position:fixed;
		z-index:100;
		top:104px;
		left:0;
		&:after {
			position:absolute;
			top:0;
			bottom:0;
			margin:auto;
			right:5px;
			color:#fff;
			height:20px;
			width:15px;
			content:'\f107';
			font-family:'awesome';
			border:0px solid red;
		}
		&.open {
			height:auto !important;
		}
		
		li {
			width:100%;
			border:0;
		}
		&:not(.open){
			li {
				pointer-events:none;
				.transition(0s);
				&.active {
					position:absolute;
					top:0;
					left:0;
					
				}
			}
		}
	}
	
	#price_slider_element {
		position:relative;
		padding-top:25px;
		#price_slider_from,#price_slider_to {
			display:block;
			position:absolute;
			top:0;
		}
		#price_slider_to {
			right:0;
		}
	}
	#product_detail {
		.row {
			.col {
				padding:0;
			}
		}
		.product_imgs {
			margin-top:20px;
		}
		.description_mobile {
			display:block;
			margin-bottom:10px;
		}
		.description {
			display:none;
		}
		#other_imgs_slider {
			margin-top:20px;
			width:100%;
		}
	}
	
	#layout_kosik_element {
		min-height:45px;
		ul.products_basket {
			height:40px;
			li {
				display:none;
			}
		}
	}
	#intro {
		#products_list {
			margin-top:10px;
		}
	}
	#provoz_list {
		padding-bottom:50px;
		text-align:center;
		&.new {
			text-align:left;
			padding-bottom:5px;
		}
	}
	#basket_detail {
		margin-top:42px;
		
	}
	.basket_content {
		position:relative;
		#products_list {
			
		}
		h2 {
			width:100%;
			height:25px;
			line-height:30px;
		}
		.scroll_but {
			font-weight:normal;
			font-size:11px;
			position:absolute;
			top:5px;
			right:5px;
			display:inline-block;
		}
		.total_price_txt {
			.col {
				padding:0;
			}
			.text_right {
				text-align:left;
				padding:3px 3px 0 0;
				line-height:27px;
			}
		}
	}
	#scroll-done {
		position:fixed;
		bottom:0;
		left:0;
		z-index:100;
		background:#00A651;
		width:100%;
		height:64px;
		text-align:center;
		padding-top:10px;
	}
	#spropitne_list {
		ul {
			margin-top:20px;
			padding:0;
			li {
				margin:0 10px 10px 0;
				a {
					padding-top:43px;
				}
			}
		}
	}
	#payment_list {
		text-align:left;
		li {
			.ico {
				margin-right:20px;
				display:inline-block;
				vertical-align:middle;
				width:80px;
				height:80px;
				&.ico1,&.ico2,&.ico3 {
					background-size:contain;
					
				}
			}
			a {
				font-size:11px;
				vertical-align:middle;
				white-space:normal;
				width:140px;
			}
			width:100%;
		}
	}
	#basket_product_table {
		li {
			padding-bottom:5px;
			position:relative;
		}
		div.itm {
			padding:2px;
			border-bottom:1px solid #efefef;
			&.price {
				border:0;
			}
			.itm_title {
				width:30%;
				height:auto;
				display:inline-block;
				margin-right:5px;
			}
			.name {
				font-size:12px;
			}
			.number {
				font-size:11px;
			}
			&.delete {
				position:absolute;
				bottom:-8px;
				right:0;
			}
			div.input {
				display:inline-block;
				vertical-align:middle;
				height:25px;
				input {
					height:25px;
				}
			}
		}
	}
	
	#pridavky_modal {
		#variants_adopt {
			ul {
				li {
					.chbut {
						font-size:20px;
					}
				}
			}
		}
		#attribute_imgs {
			width:100%;
			#prumer {
				background-size:contain !important;
				
			}
			&.small {
				div.img {
					width:80%;
				}
			}
		}
		.attribute_button {
			clear:both;
			padding-top:30px;
			text-align:center;
			.chbut {
				font-size:26px;
			}
		}
		
		
		
		
		#attributes_list {
			.attributes_item {
				&.group3 {
					top:0;
				}
			}
			
			ul {
				margin-left:48px;
				li {
					line-height:34px;
					span.name {
						width:51%;
					}
					span.point {
						width:30px;
						height:30px;
						line-height:30px;
						.radius(15px);
					}
					span.count {
						width:30px;
					}
					&.active_plus,&.active_minus {
						
						margin-left:-40px;
						div.active {
							width:73%;
							span.name {
								width:47%;
							}
						}
					}
				}
			}
		}
	}
}


/*--- Mobile landscape ---*/
@media (min-width : 480px) and (max-width : 595px) {
	
}
/*--- Small tablet portrait ---*/
@media (min-width : 595px) and (max-width : 690px) {
	
}
/*--- Tablet portrait ---*/
@media (min-width : 690px) and (max-width : 800px) {
	
}
/*--- Small tablet landscape ---*/
@media (min-width : 800px) and (max-width : 1024px) {
	#navigation ul.nav li a {
		font-size:13px;
		padding:10px 10px;
	}
	.product_item {
		h2 {
			font-size:15px;
			.small {
				font-size:13px;
			}
		}
		/*
		div.image.spec_size .img:not(.preloader){
			background-size:200% auto !important;
			
			
		}
		div.image.spec_size {
			&.napoje {
				div.img {
					&:not(.preloader) {
						background-size:auto 100% !important;
					}
				}
			}
		}
		*/
		div.image.pizza div.img {
			top:-16px !important;
		}
		.product_item div.basket_add_el .varianta_list_item li {
			padding:0 !important;
		}
	}
	.tel {
		
		font-size:24px !important;
		a {
			font-size:24px !important;
		}
	}
	
	.txt_small {
			font-size:9px;
			padding:0px !important;
			span.title {
				font-size:13px !important;
			}
			span.title.large {
				font-size:14px !important;
			}
		}	
}
/*--- Small tablet landscape ---*/
@media (min-width : 1200px) and (max-width : 1300px) {
	.product_item p.description {
		font-size:11px;
	}
	.product_item div.basket_add_el .varianta_list_item li span.title.large{
		font-size:14px !important;
	}
	.product_item div.basket_add_el .varianta_list_item li.full span.title.large{
		font-size:15px !important;
	}
}
/*--- Tablet landscape --- */
@media (min-width : 1024px) and (max-width : 1400px) {
	
	.basket_content {
		#products_list {
			div.image {
				&.imageGroup8 {
					.img {
						background-size:150% auto;
					}
				}
				
			}
		}
	}
	.product_item {
		h2 {
			font-size:17px;
		}
		div.image.pizza div.img {
			top:-21px;
		}
		div.image.spec_size div.img {
			background-position:center -10px;
		}
		div.image.spec_size2 div.img {
			background-position:center 14px;
		}
		div.image.spec_size3 {
			div.img {
				background-position:center 14px;
				
			}
		}
		
		.item {
			/*height:404px;*/
			div.basket_add_el .varianta_list_item li {
				span.title.large {
					font-size:19px;
				}
				
			}
		}
		.txt_small {
			font-size:9px;
			span.title {
				font-size:13px !important;
			}
			span.title.large {
				font-size:14px !important;
			}
		}	
	}
	#intro {
		.product_item {
			.item {
				height:320px;
			}
		}
	}
	
}

/*--- Tablet landscape --- */
@media (min-width : 1224px) and (max-width : 1700px) {
	
	.txt_small {
			font-size:13px;
			span.title {
				font-size:13px !important;
			}
			span.title.large {
				font-size:14px !important;
			}
		}	
}
/*--- Tablet landscape --- */
@media (min-width : 1224px) {
	
	#pridavky_modal {
		#attribute_imgs {
			width:60%;
			margin:auto;
		}
	}
}

