<article>
<?php echo $article->content; ?>
</article>
<div class="none">JS script</div>
<div class="fotogalerie_load"></div>
<?php 
		$article->imgs = [
			0=>['file'=>'http://vegan-shop.cz/data/imagestore/product_thubnail2d40235b711a38d806b11474564513.jpg','title'=>'img title'],
		];
		$imgs = json_encode($article->imgs);
		$img_set = array(
				'imgs'=>$imgs,
				'first'=>false,
				'class'=>'',
				'title'=>$article->name,
				'width'=>500,
				'height'=>300,
				
			
		);
		//pr($img_set);
		echo $this->Fastest->img($img_set);
		//echo $this->Html->image('http://placekitten.com/150/150', array('class'=>'pull-left img-responsive thumb margin10 img-thumbnail','alt'=>'')) 
		//echo $this->Html->image('http://placekitten.com/150/150', array('class'=>'pull-left img-responsive thumb margin10 img-thumbnail','alt'=>'')) 
		?>
<div class="none">		
	<?php echo $article->attachments ?>		
</div>
<?php //pr($article); ?>