<div id="intro">

<div class="seo_txt">
Rozvoz originál czech made pizzy zdarma. Rozvoz pizzy <?php echo $system_id_data['seo_category_city'];?> vám nabízí následující nabídku Sýrové pizzy Salámové pizzy, Masové pizzy, Pizzy pro fajnšmekry, Pizzy na smetanovém základě. 
<h2>Rozvoz pizzy <?php echo $system_id_data['seo_category_city'];?>, <?php echo $system_id_data['page_title'];?></h2>
<p>
Rozvoz pizzy <?php echo $system_id_data['seo_category_city'];?>, <?php echo $system_id_data['page_title'];?> Vás srdečně vítá. Jedná se o kvalitní pizzu v <?php echo $system_id_data['seo_category_city'];?>, která pohladí Váš žaludek.
</p>
<h2>Rozvoz pizzy <?php echo $system_id_data['seo_category_city'];?></h2>
<p>Rozvoz pizzy <?php echo $system_id_data['seo_category_city'];?> Rozvoz originál czech made pizzy po <?php echo $system_id_data['seo_category_city'];?> zdarma</p>

<h2><?php echo $system_id_data['page_title'];?></h2>
<p>
Rozvoz pizzy <?php echo $system_id_data['seo_category_city'];?> si za dopravu pizzy v <?php echo $system_id_data['seo_category_city'];?> a obaly naší pizzy neplatíte ani korunu a vždy Vám ji dovezeme teplou pizzu snáležitým úsměvem. Rozvoz pizzy <?php echo $system_id_data['seo_category_city'];?> Vám neúčtuje žádné další poplatky za Vaši pizzu.
</p>
<h2>Rozvoz pizzy <?php echo $system_id_data['seo_category_city'];?></h2>
<p>
Objednávky pro rozvoz pizzy v <?php echo $system_id_data['seo_category_city'];?> přijímáme 15 minut předzačátkem a 15 minut před koncem provozní doby.
</p>
</div>
<?php   
echo '<div id="products_list" class="hp">';
	echo '<div id="fst_history">';
	echo '<div class="row">';
	$hp_menus = [
		0=>['name'=>__d('shop','Pizzy'),'desc'=>__d('shop','Bohaté pizzy s poctivou porcí sýru.'),'url'=>'/pizza/','link'=>__d('shop','Chci si dát pizzu'),'images'=>json_encode([0=>['file'=>'pizza_home.png','name'=>'Pizzy']]),'group_id'=>1,'shop_category_id'=>1,'el_class'=>'pizza'],
		1=>['name'=>__d('shop','Stripsy'),'desc'=>__d('shop','Šťavnaté stripsy a křídla v křupavém obalu.'),'url'=>'/stripsy/','link'=>__d('shop','Chci si dát stripsy'),'images'=>json_encode([0=>['file'=>'www_chachar_cz_5ad9550cb52af.png','name'=>'Stripsy']]),'group_id'=>2,'spec_class'=>'stripsy','shop_category_id'=>2,'el_class'=>'stripsy'],
		2=>['name'=>__d('shop','Burgery'),'desc'=>__d('shop','Domácí burgery z mladého býčka.'),'url'=>'/burgery/','link'=>__d('shop','Chci si dát burger'),'images'=>json_encode([0=>['file'=>'www_chachar_cz_5aebbffd9ef0b.png','name'=>'Burgery']]),'group_id'=>3,'shop_category_id'=>3,'el_class'=>'burger'],
		3=>['name'=>__d('shop','Čína'),'desc'=>__d('shop','To nej z CinaJede.cz'),'url'=>'/cina/','link'=>__d('shop','Chci si dát čínu'),'images'=>json_encode([0=>['file'=>'www_chachar_cz_5adfddc0b8d19.png','name'=>'Čína']]),'group_id'=>4,'shop_category_id'=>4,'el_class'=>'cina'],
		4=>['name'=>__d('shop','Špecle'),'desc'=>__d('shop','Ručně vyráběné těstoviny s lahodnou smetanovou omáčkou.'),'url'=>'/specle/','link'=>__d('shop','Chci si dát špecle'),'images'=>json_encode([0=>['file'=>'www_chachar_cz_5adfd9db72b5a.png','name'=>'Špecle']]),'group_id'=>5,'shop_category_id'=>5,'el_class'=>'specle'],
		//5=>['name'=>__d('shop','Pro mazlíčky'),'desc'=>__d('shop','Nezapoměňte na Vaše čtyřnohé miláčky...'),'url'=>'#','link'=>__d('shop','Chci potěšit mazlíčka'),'images'=>json_encode([0=>['file'=>'mazlik.jpg','name'=>'Pro mazlíčky']]),'group_id'=>7],
		7=>['name'=>__d('shop','Saláty a tortily'),'desc'=>__d('shop','Dejte si něco zdravého...'),'url'=>'/stripsy/','link'=>__d('shop','Chci si dát saláty a tortily'),'images'=>json_encode([0=>['file'=>'www_chachar_cz_5ae121424d29d.png','name'=>'Saláty']]),'group_id'=>2,'shop_category_id'=>2,'el_class'=>'salat'],
		6=>['name'=>__d('shop','Nápoje'),'desc'=>__d('shop','Dejte si k jídlu něco na zapití...'),'url'=>'/napoje/','link'=>__d('shop','Chci nápoje'),'images'=>json_encode([0=>['file'=>'chachar5645cd70566c6.png','name'=>'Nápoje']]),'group_id'=>8,'shop_category_id'=>8,'el_class'=>'napoje'],
		//8=>['name'=>__d('shop','Přílohy'),'desc'=>__d('shop','Dejte si k jídlu...'),'url'=>'/stripsy/','link'=>__d('shop','Chci si dát saláty a tortily'),'images'=>json_encode([0=>['file'=>'chachar58bd163910c27.png','name'=>'Saláty']]),'group_id'=>2],
		//8=>['name'=>__d('shop','Přílohy'),'desc'=>__d('shop','Dejte si k jídlu...'),'url'=>'/stripsy/','link'=>__d('shop','Chci si dát saláty a tortily'),'images'=>json_encode([0=>['file'=>'chachar58bd163910c27.png','name'=>'Saláty']]),'group_id'=>2],
	];
	if ($_SERVER['REMOTE_ADDR'] == '89.103.18.65a'){
	$hp_menus[6] = ['name'=>__d('shop','Pro mazlíky'),'desc'=>__d('shop','Dejte si k jídlu...'),'url'=>'/pro-mazliky/','link'=>__d('shop','Dejte si pro Vaše mazlíky'),'images'=>json_encode([0=>['file'=>'chachar58bd163910c27.png','name'=>'Pro mazlíky']]),'group_id'=>9];
		
	//$hp_menus[0]['images'] = json_encode([0=>['file'=>'test.png','name'=>'Pizzy']]);
	//pr($hp_menus);
	}
	//pr($system_id);
	// opava vypnout pizza
	if ($system_id == 13){
		unset($hp_menus[0]);
		unset($hp_menus[1]);
	}
	// krnov vypnout cina
	if ($system_id == 11){
		unset($hp_menus[3]);
	}
	// pepikova pizza
	if (in_array($system_id,[6,9])){
		unset($hp_menus[2]);
	}
	foreach($hp_menus AS $k=>$i){
		echo $this->element('Shop.../ShopProducts/elements/hp_item',['i'=>$i],['cache' => ['key' => 'hp_item'.$k]]);
		
	}
	//if ($system_id != 13){
		echo $this->element('Shop.../ShopProducts/elements/akce',[],['cache' => ['key' => 'product_item_akce']]);
	//}
	echo '</div>';
echo '</div>';
echo '</div>';
	
?>
</div>