<?php 
//pr($items);
//pr('CatID:'.$menu_data['cat_group_id']);
if ($_SERVER['REMOTE_ADDR'] == '89.103.18.65'){
//pr($system_id);
//if ($system_id == 1 && $menu_data['cat_group_id'] == 3){
	//echo '<p class="items_alert">POBOČKA JABLUNKOV BURGERY NEVOZÍ.</p>';
//}
}
if ($system_id == 1 && $menu_data['cat_group_id'] == 3){
	echo '<p class="items_alert">POBOČKA JABLUNKOV BURGERY NEVOZÍ.</p>';
}
if ($system_id == 1 && $menu_data['cat_group_id'] == 4){
	echo '<p class="items_alert">POBOČKA Bohumín ČÍNU NEVOZÍ.</p>';
}
//if (isset($addStrips)){
if ($menu_data['cat_group_id'] == 2){
	echo $this->element('../ShopProducts/stripsMenu');
}
if (isset($items)){
	// vypis produktu obrazky
	if ($result_type == 1){
		echo '<div id="products_list">';
			echo '<div class="row">';
				if (isset($is_akce)){
					echo $this->element('Shop.../ShopProducts/elements/akce',[],['cache' => ['key' => 'product_item_akce']]);
				}
				$count = 0;
				foreach($menu_data['menu_items_list_name'] AS $k=>$n){
					echo '<div class="cat_scroll" id="cat_scroll_'.$k.'" data-id="'.$k.'"></div>';
					
					foreach($items AS $itemk=>$i){
						if ($i->shop_category_id == $k){
							$count++;
							//pr($i);
							//echo $this->element('Shop.../ShopProducts/elements/item',['i'=>$i],['cache' => ['key' => 'product_item'.$i->id]]);
							echo $this->element('Shop.../ShopProducts/elements/item',['i'=>$i]);
						
						if (isset($is_akce)){
				
						if ($count == 18){
							//pr($itemk);
							echo $this->element('Shop.../ShopProducts/elements/akce',[]);
						
						}
						}
						} else {
						//echo $this->element('Shop.../ShopProducts/elements/item',['i'=>$i]);
						}
					} 
					
				}
				foreach($items AS $i){
					if ($i->shop_category_id == 8 && isset($addon_napoje)){
						echo $this->element('Shop.../ShopProducts/elements/item',['i'=>$i]);
						//pr($i);
					}
					//echo $this->element('Shop.../ShopProducts/elements/item',['i'=>$i]);
				} 
			echo '</div>';
			echo '
<p class="alergeny_info">Nabízené produkty mohou obsahovat alergeny (jejich číselné označení je vždy uvedeno v závorce u jednotlivých jídel. Seznam alergenů naleznete <a href="/uploaded/alergeny.pdf" target="_blank">zde</a></p>';
		echo '</div>';
	
	}
	
	// vypis produktu tabulka
	if ($result_type == 2){
		echo '<div class="table-responsive">';
		echo '<table id="products_table" class="table table-striped">';
			foreach($items AS $i){
				echo $this->element('Shop.../ShopProducts/elements/item_table',['i'=>$i]);
			} 
		echo '</table>';
		echo '</div>';
	}
	//echo $this->element('pagination');
} else {
	echo '<div class="alert alert-danger">';
			echo '<strong>'.__('Omlováme se').'</strong>, '.__('nebyly nalezeny žádné produkty.');
	echo '</div>';
}

//pr($items);
?>
