homepage
<div class="load_contact_form" data-type="index"></div>
<div id="map_canvas" class="load_google_map" data-load_data="map_data" data-load_dba="1"></div>
<div id="map_data" class="none">
<?php 
$mapData = [];
$mapData[] = [
	'GoogleMap'=>[
		"name"=>"test",
		"ulice"=>"Pelclova",
		"mesto"=>"Ostrava",
		"psc"=>"70200",
		"lat"=>49.848168,
		"lng"=>18.285625
	],
];
echo json_encode($mapData);
?>
</div>