<style>
#street {
	width:300px;
}
#maparea_canvas {
	width:90%;
	height:600px;
	border:1px solid #ccc;
	display:inline-block;
}
#maparea_name {
	width:9%;
	display:inline-block;
	border:1px solid #ccc;
}
</style>
<?php echo $this->Form->input('street',[]); ?>
<div id="maparea_canvas">

</div>
<ul id="maparea_name"></ul>
<div id="marea_map_data_load" class="none"><?php echo json_encode($map_data);?></div>
<div id="pokladna_list" class="none"><?php echo json_encode($pokladna_list);?></div>

<script type="text/delayscript">
//<![CDATA[
window.addEvent('load', function () {
	
	//loadScript();
	

});
   
//]]>
</script>
