<div id="map_header">
	
	<ul id="rozvozce_list">
		
	</ul>
	<h2 id="map_preloader" class=""><?php echo $pokladna_name;?></h2>
</div>
<div id="map_canvas_rozvozces">
	
</div>
<div id="pokladna_id" data-id="<?php echo $pokladna_id;?>"></div>
<div id="map_data" class="none"><?php echo json_encode($find_rozvoces);?></div>
<script type="text/delayscript">
//<![CDATA[
   
   window.addEvent('domready',function(){
		var script_rozvozce = Asset.javascript('/js/RozvozceMap/RozvozceMap.js', {
				id: 'script_rozvozce',
				onLoad: function(){
					
				}
			});
   });
//]]>
</script>