<script src="https://unpkg.com/react@latest/dist/react.js"></script>
<script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
<?php /* ?>
<script src="/js/react/react.js"></script>
<?php */ ?>
test
<div id="root"></div>
<script type="text/babel">
 ReactDOM.render(
        <h1>Hello, world!</h1>,
        document.getElementById('root')
      );

</script>