<?php 
$this->Html->templates([
	'link' => '<a href="'.$_SESSION['url_lang_prefix'].'{{url}}"{{attrs}}>{{content}}</a>'
]);
//pr($products);
if (isset($products)){
	if (isset($cell_title)){
		echo '<h2>'.$cell_title.'</h2>';
	}
	echo '<div class="row lazy_load">';
		foreach($products AS $i){
			//echo $this->element('Shop.../ShopProducts/elements/item',['i'=>$i],['cache' => ['key' => 'product_item'.$i->id]]);
			echo $this->element('Shop.../ShopProducts/elements/item',['i'=>$i],[]);
		}
	echo '</div>';
}
?>
<?php //pr($products); ?>