<div id="layout_kosik_element" class="row lazy_load_init page_preload">
	<div class="col-md-12" >
	
		<?php 
		//if ($_SERVER['REMOTE_ADDR'] != '89.103.18.65'){
			echo '<div id="load_basket_content"></div>';
		//} else {
			//echo $this->element('Shop.Basket/basket_content');
		//}
		?>
	</div>
</div>